<ng-container *ngIf="!enrollmentGone; else enrollmentGoneTmpls">
  <mat-card class="form float high">
    <mat-card-title class="headline"
                    id="title">
      Bearbeiten
    </mat-card-title>
    <mat-card-content>
      <mat-tab-group [selectedIndex]="0"
                     dynamicHeight>

        <!-- OVERALL -->
        <!-- OVERALL -->
        <mat-tab label="Allgemein">
          <app-enrollment-main-form
            #mainForm
            (done)="mainFormDone($event)"
            [enrollment]="enrollment"
            [appointment]="appointment"
            [isEnrolledAsCreator]="isEnrolledAsCreator"
            [isEdit]="true"
            [values]="mainFormValues">
          </app-enrollment-main-form>
        </mat-tab>

        <!-- ADDITIONS -->
        <!-- ADDITIONS -->
        <mat-tab label="Zusätze">
          <app-enrollment-additions
            #additionsForm
            (done)="additionsFormDone($event)"
            [appointment]="appointment"
            [enrollment]="enrollment"
            (cancel)="cancel()"
            [isEdit]="true">
          </app-enrollment-additions>
        </mat-tab>

        <!-- DRIVER -->
        <!-- DRIVER -->
        <mat-tab label="Fahrer">
          <app-enrollment-driver-passenger
            #driverForm
            (cancel)="cancel()"
            (done)="driverFormDone($event)"
            [appointment]="appointment">
          </app-enrollment-driver-passenger>
        </mat-tab>
      </mat-tab-group>
    </mat-card-content>
  </mat-card>
</ng-container>

<ng-template #enrollmentGoneTmpls> <!--// TODO OWN TEMPLATE -->
  <mat-card class="float error-card"
            id="enrollment-not-found">
    <img alt="anmeldesystem not found robot icon" src="/assets/img/404.svg">
    <span>Sorry, diese Anmeldung gibt es lieder nicht mehr.</span>
    <button [queryParams]="{a: appointment.link}"
            [routerLink]="['/enroll']"
            mat-raised-button>
      Okay
    </button>
  </mat-card>
</ng-template>
