<mat-card class="float high">
  <mat-card-title class="headline">
    Account
  </mat-card-title>
  <mat-list>
    <mat-list-item [routerLink]="'/account/profile'">
      <mat-icon mat-list-icon>account_circle</mat-icon>
      <span mat-line>Profil</span>
    </mat-list-item>

    <mat-divider></mat-divider>

    <mat-list-item [routerLink]="'/account/logout'">
      <mat-icon mat-list-icon>exit_to_app</mat-icon>
      <span mat-line>Abmelden</span>
    </mat-list-item>
  </mat-list>
</mat-card>
