<form [formGroup]="event">
  <span class="form-component-title"> Administratoren</span>

  <mat-card-content>
    <div class="input-with-button-wrapper">
      <mat-form-field>
        <input aria-label="Number"
               formControlName="username"
               matInput
               placeholder="Benutzername"
               type="text">
        <mat-error>{{getErrorMessage()}}</mat-error>
      </mat-form-field>

      <button (click)="add()" mat-raised-button type="submit">Hinzufügen</button>
    </div>

    <span class="info last">
      Ernenne einen Administrator.
    </span>

    <ng-container *ngIf="recentAdminList.length > 0">
      <span class="form-component-title">Neue Admins</span>
      <div class="administrator-wrapper">
        <span *ngFor="let admin of recentAdminList">{{admin}}</span>
      </div>
    </ng-container>

    <ng-container *ngIf="administrators.length > 0">
      <span class="form-component-title">Aktuelle Admins</span>
      <div class="administrator-wrapper">
        <app-administrator-delete
          *ngFor="let admin of administrators"
          (deleted)="removeAdministrator($event)"
          [admin]="admin"
          [appointment]="appointment">
        </app-administrator-delete>
      </div>

      <span class="info">
        Entziehe deinen Administratoren die Rechte.
      </span>
    </ng-container>
  </mat-card-content>

  <mat-card-actions class="double">
    <div>
      <button [queryParamsHandling]="'preserve'"
              [routerLink]="'/enroll' "
              class="left"
              color="primary" disableRipple
              mat-button
              o
              type="button">
        Zum Termin
      </button>
    </div>
  </mat-card-actions>
</form>
