<form [formGroup]="event">

  <span class="form-component-title"> Administratoren</span>

  <mat-card-content>
    <div class="input-with-button-wrapper">
      <mat-form-field>
        <input aria-label="Number"
               formControlName="username"
               matInput
               placeholder="Benutzername"
               type="text">
      </mat-form-field>

      <button (click)="add()" mat-raised-button>Hinzufügen</button>
    </div>

    <ng-container *ngIf="administrators.length > 0">
      <div class="administrator-wrapper">
        <app-administrator-delete
          (deleted)="removeAdministrator($event)"
          *ngFor="let admin of administrators"
          [admin]="admin"
          [appointment]="appointment">
        </app-administrator-delete>
      </div>
    </ng-container>
  </mat-card-content>

  <span class="info">
    Erlaube jemandem die Administration dieses Termins
  </span>
</form>
