mat-tab-group {
  margin-top: 10px;
}

::ng-deep .mat-tab-header-pagination {
  min-width: 20px !important;
}

::ng-deep .mat-tab-labels {
  .mat-tab-label {
    height: 35px;
    padding: 0 15px;
  }
}

form {
  .addition-wrapper {
    margin-top: 25px;
  }

  .mat-form-field {
    width: 100%;
  }
}

::ng-deep mat-tab-body {
  padding: 15px 0 0 0;
}

.administrator-wrapper {
  margin-top: 25px;
}

.info {
  font-size: 1.15em;
  margin: 5px auto 28px
}

@import "src/variables";

.file-upload {
  color: $primary_dark;
  margin: 10px auto 20px;
  display: block;
}
