<mat-card class="float high">
  <ng-container *ngIf="appointment != undefined; else loading">
    <mat-card-title class="headline">
      {{appointment.title}}
    </mat-card-title>
    <mat-tab-group [selectedIndex]="4" dynamicHeight>
      <mat-tab label="Allgemein">
        <ng-container *ngTemplateOutlet="overall"></ng-container>
      </mat-tab>
      <mat-tab label="Zusätze">
        <ng-container *ngTemplateOutlet="additions"></ng-container>
      </mat-tab>
      <mat-tab label="Link">
        <ng-container *ngTemplateOutlet="link"></ng-container>
      </mat-tab>
      <mat-tab label="Adminsitration">
        <ng-container *ngTemplateOutlet="administration"></ng-container>
      </mat-tab>

      <mat-tab label="Anhänge">
        <ng-container *ngTemplateOutlet="fileUpload"></ng-container>
      </mat-tab>
    </mat-tab-group>
  </ng-container>
</mat-card>

<ng-template #loading>
  <mat-spinner>
  </mat-spinner>
</ng-template>

<ng-template #overall>
  <form [formGroup]="overallDataFormGroup">
    <span class="info">Kerninformationen</span>
    <mat-form-field class="">
      <label for="title">
        <input formControlName="title"
               id="title"
               matInput
               placeholder="Titel"
               required>
      </label>
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <label for="date">
        <input [ngxMatDatetimePicker]="datePicker"
               formControlName="date"
               id="date"
               matInput
               placeholder="Datum"
               required>
      </label>
      <mat-datepicker-toggle [for]="datePicker" matSuffix></mat-datepicker-toggle>
      <ngx-mat-datetime-picker #datePicker></ngx-mat-datetime-picker>
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <label for="deadline">
        <input [ngxMatDatetimePicker]="deadlinePicker"
               formControlName="deadline"
               id="deadline"
               matInput
               placeholder="Anmeldefrist">
      </label>
      <mat-datepicker-toggle [for]="deadlinePicker" matSuffix></mat-datepicker-toggle>
      <ngx-mat-datetime-picker #deadlinePicker></ngx-mat-datetime-picker>
    </mat-form-field>
    <mat-form-field class="">
      <label for="location">
        <input formControlName="location"
               id="location"
               matInput
               placeholder="Ort"
               required>
      </label>
    </mat-form-field>
    <mat-form-field class="">
      <label for="maxEnrollments">
        <input formControlName="maxEnrollments"
               id="maxEnrollments"
               matInput
               placeholder="Maximale Teilnehmer">
      </label>
    </mat-form-field>
  </form>
</ng-template>

<ng-template #additions>
  <form [formGroup]="additionFormGroup">
    <span class="info"> Zusätze, welche beim Anmelden mit Ja/Nein beantwortet werden.</span>
    <div class="tooltip-container">
      <mat-checkbox formControlName="driverAddition">
        Fahrer
      </mat-checkbox>
      <!--suppress TypeScriptUnresolvedFunction -->
      <mat-icon #driverAdditionTooltip="matTooltip"
                (click)="driverAdditionTooltip.toggle()"
                class="tooltip"
                matTooltip="{{ 'Hierbei können sich Teilnehmer als Fahrer melden. Sie geben unter Anderem die ' +
                       'Anzahl freier Plätze ein und in welche Richtung sie fahren.'}}">
        info
      </mat-icon>
    </div>
    <div class="addition-wrapper">
      <!--suppress AngularInvalidExpressionResultType, TypeScriptUnresolvedVariable -->
      <div *ngFor="let addition of additionFormGroup.controls.additions.controls; let i = index"
           formArrayName="additions">
        <mat-form-field class="compressed">
          <label for="addition_{{i}}">
            <input [formControlName]="i.toString()"
                   id="addition_{{i}}"
                   matInput
                   placeholder="Zusatz {{i + 1}}">
          </label>
          <mat-icon (click)="removeAdditionFromFormArray(i)" matSuffix>clear</mat-icon>
        </mat-form-field>
      </div>
      <button (click)="addAdditionFormControlToFormArray()" class="solo" mat-button mat-stroked-button>Hinzufügen
      </button>
    </div>
  </form>
</ng-template>

<ng-template #link>
  <form [formGroup]="linkFormGroup">
    <span class="info">Eigener URL Pfad zum Termin</span>
    <mat-form-field class="">
      <label for="link">
        <input (change)="checkLink()"
               formControlName="link"
               id="link"
               matInput
               placeholder="Wunschlink">
      </label>
      <mat-hint *ngIf="linkFormGroup.get('link').value !== ''
                  && linkFormGroup.get('link').value !== null"
                class="small">
        {{urlService.getHostname()}}{{linkFormGroup.get('link').value | urlEncode}}
      </mat-hint>
      <mat-error>{{ this.getLinkErrorMessage() }}</mat-error>
    </mat-form-field>
    <mat-form-field>
      <div class="tooltip-container">
        <label for="description">
          <textarea #description
                    formControlName="description"
                    id="description"
                    matInput
                    minlength="5"
                    placeholder="Zusatzinformationen"
                    required>
          </textarea>
        </label>
        <!--suppress TypeScriptUnresolvedFunction -->
        <mat-icon #descriptionTooltip="matTooltip"
                  (click)="descriptionTooltip.toggle()"
                  class="tooltip"
                  matTooltip="{{'Dieser Text wird unter Anderem beim Versenden des Anmeldelinks als Linkvorschau angezeigt.'}}">
          info
        </mat-icon>
      </div>
      <mat-hint *ngIf="description.value.length < 10"
                align="start">
        Noch mindestens {{10 - description.value.length}} Zeichen
      </mat-hint>
    </mat-form-field>
  </form>
</ng-template>

<ng-template #administration>
  <form [formGroup]="administratorFormGroup">
    <span class="info">Erlaube jemandem die Administration dieses Termins</span>
    <div class="input-with-button-wrapper">
      <mat-form-field>
        <input aria-label="Number"
               formControlName="name"
               matInput
               placeholder="Benutzername"
               type="text">
      </mat-form-field>
      <button mat-raised-button>Speichern</button>
    </div>

    <ng-container *ngIf="administrators.length > 0">
      <span class="separator center colored middle extra-tall"></span>
      <div class="administrator-wrapper">
        <app-administrator-delete
          *ngFor="let admin of administrators"
          [admin]="admin"
          [appointment]="appointment">

        </app-administrator-delete>
      </div>
    </ng-container>
  </form>
</ng-template>

<ng-template #fileUpload>
  <span class="info">
    Datei zum Download
  </span>
  <button (click)="selectFilesFromComputer()"
          class="file-upload"
          mat-raised-button>
    <mat-icon>
      file_upload
    </mat-icon>
    Hochladen
  </button>
  <input id="fileUpload"
         multiple="multiple"
         name="fileUpload"
         style="display:none;"
         type="file"/>

  <ng-container *ngIf="files.length > 0">
    <span class="separator center colored middle extra-tall"></span>
    <div class="file-wrapper">
      <app-file-delete
        *ngFor="let file of files"
        [appointment]="appointment"
        [file]="file">
      </app-file-delete>
    </div>
  </ng-container>
</ng-template>
