<ng-container *ngIf="appointment != undefined; else loading">
  <mat-card class="float high">
    <mat-card-title class="headline">
      <span [queryParams]="{a: link}"
            [routerLink]="['/enroll']"
            class="redirect">
        <mat-icon>arrow_back_ios</mat-icon>
      </span>
      {{appointment.title}}
    </mat-card-title>
    <mat-tab-group [selectedIndex]="0" dynamicHeight>
      <mat-tab label="Allgemein">
        <app-overall-data
          (save)="saveOverall($event)"
          [appointment]="appointment">
        </app-overall-data>
      </mat-tab>
      <mat-tab label="Zusätze">
        <app-additions
          (save)="saveAdditions($event)"
          [appointment]="appointment">
        </app-additions>
      </mat-tab>
      <mat-tab label="Link">
        <app-link-data
          (save)="saveLink($event)"
          [appointment]="appointment">
        </app-link-data>
      </mat-tab>
      <mat-tab label="Adminsitration">
        <app-administrator
          (save)="saveAdministrators($event)"
          [appointment]="appointment">
        </app-administrator>
      </mat-tab>
      <mat-tab label="Anhänge">
        <app-file
          (save)="saveFile($event)"
          [appointment]="appointment"
          [uploading]="uploadingFile">
        </app-file>
      </mat-tab>
      <mat-tab label="Sonstiges">
        <app-other
          (save)="saveOther($event)"
          [appointment]="appointment">
        </app-other>
      </mat-tab>
    </mat-tab-group>
  </mat-card>

</ng-container>

<app-saved *ngIf="saveSuccess"></app-saved>

<ng-template #loading>
  <ng-container *ngIf="permission !== false">
    <mat-card class="float error-block">
      <div class="spinner-wrapper">
        <mat-spinner
          *ngIf="permission !== false">
        </mat-spinner>
        <span *ngIf="permission === null">Berechtigungen werden geprüft</span>
        <span *ngIf="permission === true">Lade Einstellungen</span>
      </div>
    </mat-card>
  </ng-container>
  <ng-container *ngIf="permission === false">
    <mat-card class="float error-block">
      <img alt="anmeldesystem appointment not found robot icon" src="/assets/img/404.svg">
      <span>Fehlende Berechtigungen</span>
      <button [queryParams]="{a: link}"
              [routerLink]="['/enroll']"
              color="primary"
              mat-raised-button>Oke, sorry!
      </button>
    </mat-card>
  </ng-container>
</ng-template>
