mat-tab-group {
  margin-top: 10px;
}

::ng-deep .mat-tab-header-pagination {
  min-width: 20px !important;
}

::ng-deep .mat-tab-labels {
  .mat-tab-label {
    height: 35px;
    padding: 0 15px;
  }
}

::ng-deep mat-tab-body {
  padding: 15px 0 0 0;
}

.info {
  font-size: 1.15em;
  margin: 5px auto 28px
}

.spinner-wrapper {
  padding: 25px;

  mat-spinner {
    margin: 0 auto;
  }
}
