<mat-card class="form float high">
  <mat-card-title class="headline">
    Account
  </mat-card-title>

  <mat-card-content>
    <app-user-data
      *ngIf="userData != undefined; else loading"
      (save)="save($event)"
      (updateParent)="fetchData()"
      [isRegister]="false"
      [userData$]="userData$">
    </app-user-data>
  </mat-card-content>
</mat-card>

<app-saved *ngIf="saveSuccess"></app-saved>

<ng-template #loading>
  <app-hexagon-loader [message]="'Lade Einstellungen'"></app-hexagon-loader>
</ng-template>
