<div class="appointment-list-wrapper">
  <mat-card *ngFor="let number of numberOfTemplates"
            class="template">
    <mat-card-title class="headline">
    </mat-card-title>
    <mat-card-content>
      <span>
        <mat-icon></mat-icon>
        <span></span>
      </span>
      <span>
        <mat-icon></mat-icon>
        <span></span>
      </span>
      <span>
        <mat-icon></mat-icon>
        <span></span>
      </span>
      <span>
        <mat-icon></mat-icon>
        <span></span>
      </span>
      <p></p>
    </mat-card-content>
  </mat-card>
</div>
