<mat-card class="form float">
  <mat-card-title class="headline">
    Login
  </mat-card-title>

  <mat-card-content>
    <form (ngSubmit)="login()" [formGroup]="event" id="login-form">
      <mat-form-field class="username">
        <input matInput
               formControlName="username"
               id="username"
               placeholder="Email/Benutzername"
               required>
        <mat-error *ngIf="event.get('username').invalid">{{ getUsernameErrorMessage() }}</mat-error>
      </mat-form-field>
      <mat-form-field class="pass">
        <input matInput
               [type]="hide ? 'password' : 'text'"
               formControlName="password"
               id="password"
               placeholder="Passwort" required>
        <button mat-icon-button matSuffix type="button" (click)="hide = !hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error *ngIf="event.get('password').invalid">{{ getPasswordErrorMessage() }}</mat-error>
      </mat-form-field>

      <span>
      Noch keinen Account?
        <a [routerLink]="['/account/register']">
          Registrieren!
        </a>
      </span>

      <mat-card-actions>
        <button color="primary" mat-raised-button>
          Login
        </button>
      </mat-card-actions>
    </form>
  </mat-card-content>
</mat-card>

