<form *ngIf="!done; else doneTemplate"
      [formGroup]="event"
      class="register-form">
  <mat-form-field class="username">
    <label for="username">
      <input [required]="isRegister"
             formControlName="username"
             autocomplete="off"
             id="username"
             matInput
             placeholder="Benutzername">
    </label>
    <button mat-icon-button matSuffix type="button">
      <!--suppress TypeScriptUnresolvedFunction -->
      <mat-icon #username="matTooltip"
                (click)="username.toggle()"
                class="tooltip"
                matTooltip="{{tooltip}}">
        info
      </mat-icon>
    </button>
    <mat-error>{{ getErrorMessage('username') }}</mat-error>
  </mat-form-field>

  <div *ngIf="event.get('username').hasError('invalidUsername') && event.get('username').value"
       class="info after-input">
    <ul>
      <li> Nur Kleinbuchstaben</li>
      <li> Mindestens 3 Buchstaben.</li>
      <li> Kein _ am Anfang oder Ende</li>
      <li> Nur ein _ in Folge</li>
      <li> Keine Sonderzeichen</li>
    </ul>
  </div>

  <span *ngIf="!isRegister"
        class="separator extra-extra-tall hidden"></span>

  <mat-form-field class="name">
    <label for="name">
      <input formControlName="name"
             id="name"
             matInput
             placeholder="Anzeigename"
             [required]="isRegister">
    </label>
    <button mat-icon-button matSuffix type="button">
      <!--suppress TypeScriptUnresolvedFunction -->
      <mat-icon
        #name="matTooltip"
        (click)="name.toggle()"
        class="tooltip"
        matTooltip="{{'Erlaubte Beispiele:'
                + '\r\n'
                + '\r\n Max'
                + '\r\n Max M'
                + '\r\n Max1999'
                + '\r\n Max J M' }}">
        info
      </mat-icon>
    </button>
    <mat-error>{{ getErrorMessage('name') }}</mat-error>
  </mat-form-field>
  <mat-form-field class="mail">
    <label for="mail">
      <input formControlName="mail"
             id="mail"
             matInput
             placeholder="E-Mail"
             [required]="isRegister">
    </label>
    <!--suppress TypeScriptUnresolvedFunction -->
    <mat-spinner #mailPending="matTooltip"
                 (click)="mailPending.toggle()"
                 *ngIf="mailPending"
                 [diameter]="22"
                 [strokeWidth]="3"
                 class="tooltip"
                 matSuffix
                 matTooltip="{{'Warte auf Bestätigung.'
                + '\r\n'
                + '\r\n Aktuelle Email:'
                + '\r\n ' + this.userData.mail}}">
    </mat-spinner>
    <mat-error>{{ getErrorMessage('mail') }}</mat-error>
  </mat-form-field>
  <div *ngIf="mailPending"
       class="input-additions">
    <button (click)="resend()"
            *ngIf="!isResend; else isResendTmpl"
            mat-raised-button>
      Email erneut senden
    </button>
    <ng-template #isResendTmpl>
      <button mat-raised-button>
        <mat-icon class="small wrapped">done_outline</mat-icon>
        Gesendet
      </button>
    </ng-template>
    <button (click)="cancelMailChange()" mat-button>Rückgängig</button>
  </div>

  <span *ngIf="!isRegister"
        class="separator extra-extra-tall hidden"></span>

  <mat-form-field class="pass" formGroupName="passwords">
    <label for="password">
      <input [type]="hide ? 'password' : 'text'"
             formControlName="password"
             id="password"
             matInput
             [required]="isRegister"
             placeholder="{{isRegister ? '' : 'Neues '}}Passwort">
    </label>
    <button (click)="hide = !hide"
            aria-label="toggle password visibility"
            mat-icon-button
            matSuffix
            type="button">
      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
    <mat-error>{{ getErrorMessage('') }}</mat-error>
  </mat-form-field>
  <mat-form-field class="pass" formGroupName="passwords">
    <label for="passwordVerify">
      <input [type]="hide ? 'password' : 'text'"
             formControlName="passwordVerify"
             id="passwordVerify"
             matInput
             placeholder="Passwort wiederholen"
             [required]="isRegister">
    </label>
    <button (click)="hide = !hide"
            aria-label="toggle password visibility"
            mat-icon-button
            matSuffix
            type="button">
      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
    <mat-error>{{ getErrorMessage('') }} </mat-error>
  </mat-form-field>

  <mat-card-actions class="double">
    <div>
      <button *ngIf="isRegister"
              [routerLink]="['/account/login']"
              type="button"
              class="left"
              color="primary"
              mat-button>
        Einloggen
      </button>
    </div>

    <button (click)="saveFnc()"
            [active]="sendingRequestEmit"
            [innerValue]="buttonText"
            color="primary"
            id="submit"
            type="submit"
            appLoadingDisable
            mat-raised-button>
      {{buttonText}}
    </button>
  </mat-card-actions>
</form>

<ng-template #doneTemplate>
  <span>
    Dein Account wurde erfolgreich angelegt. Bitte Folge den Anweisungen in der dir eben zugesandten E-Mail, um
    die Registrierung abzuschließen.
  </span>
</ng-template>
