<form (ngSubmit)="saveFnc()"
      *ngIf="!done; else doneTemplate"
      [formGroup]="event"
      class="register-form">
  <mat-form-field class="username">
    <label for="username">
      <input [required]="register"
             formControlName="username"
             id="username"
             matInput
             placeholder="Benutzername">
    </label>
    <button mat-icon-button matSuffix type="button">
      <!--suppress TypeScriptUnresolvedFunction -->
      <mat-icon #username="matTooltip"
                (click)="username.toggle()"
                class="tooltip"
                matTooltip="{{tooltip}}">
        info
      </mat-icon>
    </button>
    <mat-error>{{ getErrorMessage('username') }}</mat-error>
  </mat-form-field>

  <span *ngIf="!register"
        class="separator extra-extra-tall hidden"></span>

  <mat-form-field class="name">
    <label for="name">
      <input formControlName="name"
             id="name"
             matInput
             placeholder="Anzeigename"
             [required]="register">
    </label>
    <button mat-icon-button matSuffix type="button">
      <!--suppress TypeScriptUnresolvedFunction -->
      <mat-icon
        #name="matTooltip"
        (click)="name.toggle()"
        class="tooltip"
        matTooltip="{{'Erlaubte Beispiele:'
                + '\r\n'
                + '\r\n Max'
                + '\r\n Max M'
                + '\r\n Max1999'
                + '\r\n Max J M' }}">
        info
      </mat-icon>
    </button>
    <mat-error>{{ getErrorMessage('name') }}</mat-error>
  </mat-form-field>
  <mat-form-field class="mail">
    <label for="mail">
      <input formControlName="mail"
             id="mail"
             matInput
             placeholder="E-Mail"
             [required]="register">
    </label>
    <mat-error>{{ getErrorMessage('mail') }}</mat-error>
  </mat-form-field>

  <span *ngIf="!register"
        class="separator extra-extra-tall hidden"></span>

  <mat-form-field class="pass" formGroupName="passwords">
    <label for="password">
      <input [type]="hide ? 'password' : 'text'"
             formControlName="password"
             id="password"
             matInput
             placeholder="{{register ? '' : 'Neues '}}Passwort"
             [required]="register">
    </label>
    <button (click)="hide = !hide"
            aria-label="toggle password visibility"
            mat-icon-button
            matSuffix
            type="button">
      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
    <mat-error>{{ getErrorMessage('') }}</mat-error>
  </mat-form-field>
  <mat-form-field class="pass" formGroupName="passwords">
    <label for="passwordVerify">
      <input [type]="hide ? 'password' : 'text'"
             formControlName="passwordVerify"
             id="passwordVerify"
             matInput
             placeholder="Passwort wiederholen"
             [required]="register">
    </label>
    <button (click)="hide = !hide"
            aria-label="toggle password visibility"
            mat-icon-button
            matSuffix
            type="button">
      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
    <mat-error>{{ getErrorMessage('') }} </mat-error>
  </mat-form-field>
  <span *ngIf="register">
    Du hast bereits einen Account?
    <br/>
    <a [routerLink]="['/account/login']">
      Mit Account einloggen!
    </a>
  </span>

  <mat-card-actions>
    <button color="primary" id="submit" mat-raised-button>
      {{button}}
    </button>
  </mat-card-actions>
</form>

<ng-template #doneTemplate>
  <span>
    Dein Account wurde erfolgreich angelegt. Bitte Folge den Anweisungen in der dir eben zugesandten E-Mail, um
    die Registrierung abzuschließen.
  </span>
</ng-template>
