.filter {
  .filter-element {
    width: 50%;
    display: inline-block;
  }

  .mat-dialog-content {
    padding: 10px 24px;
  }

  .filter-block {
    position: relative;

    .tooltip {
      position: absolute;
      right: -20px;
      top: -11px;
      height: auto;
      white-space: pre-line;
    }
  }
}
