<div class="filter">
  <h2 mat-dialog-title>Filter</h2>
  <div mat-dialog-content>
    <ng-container *ngFor="let filter of dialogFilter.additions">
      <div class="filter-element">
        <mat-checkbox class="example-margin"
                      [(ngModel)]="filter.active"
                      (change)="checkForActiveFilters()">
          {{filter.name}}
        </mat-checkbox>
      </div>
      <div class="separator tall brighter center semi"></div>
    </ng-container>

    <ng-container *ngIf="data.appointment.driverAddition">
      <mat-radio-group [(ngModel)]="dialogFilter.driverPassenger">
        <mat-radio-button [value]="'driver'"
                          class="filter-element">
          Fahrer
        </mat-radio-button>
        <mat-radio-button [value]="'passenger'"
                          class="filter-element">
          Passagier
        </mat-radio-button>
        <mat-radio-button (click)="dialogFilter.driverPassenger = ''"
                          [value]="''" class="filter-element">
          Beide
        </mat-radio-button>
      </mat-radio-group>
      <div class="separator tall brighter center semi"></div>
    </ng-container>


    <div class="filter-block">
      <!--suppress TypeScriptUnresolvedFunction -->
      <mat-icon class="tooltip"
                #tooltip="matTooltip"
                matTooltip="{{'Exp.: Genau dieser Filter \r\n S.E.: Genau diese Filter oder mehr \r\n Dyn.: Mindestens einer dieser Filter'}}"
                (click)="tooltip.toggle()">
        info
      </mat-icon>
      <mat-radio-group [(ngModel)]="dialogFilter.explicitly">

        <mat-radio-button class="filter-element" [value]="'explicit'">
          Explizit
        </mat-radio-button>
        <mat-radio-button class="filter-element" [value]="'semiExplicit'">
          Semi-Explizit
        </mat-radio-button>
        <mat-radio-button class="filter-element" [value]="'dynamic'">
          Dynamisch
        </mat-radio-button>

      </mat-radio-group>
    </div>

    <span *ngIf="data.error"
          class="error">
      Dieser Filter Liefert keine Ergebnisse
    </span>
  </div>
  <div mat-dialog-actions>
    <button [mat-dialog-close]="dialogFilter" cdkFocusInitial mat-raised-button>Anwenden</button>
    <button mat-button (click)="onNoClick()">Abbrechen</button>
    <button [mat-dialog-close]="null" class="reset" mat-button>
      <mat-icon>delete_sweep</mat-icon>
    </button>
  </div>
</div>
