.filter {
  .mat-dialog-title {
    margin: 0;
  }

  .separator.tall:after {
    margin: 15px auto;
  }

  .filter-element {
    font-size: 0.85em;
    width: 50%;
    margin: 2.5px 0;
    display: inline-block;
  }

  .mat-dialog-content {
    padding: 8px 24px;
  }

  .filter-block {
    position: relative;

    .tooltip {
      position: absolute;
      right: 0px;
      top: -11px;
      height: auto;
      white-space: pre-line;
    }
  }
}
