<div [@.disabled]="disableAnimation" class="comment-dialog">
  <div mat-dialog-content>
    <mat-expansion-panel [expanded]="false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Kommentieren
        </mat-panel-title>
        <mat-panel-description>
          <mat-icon>add_comment</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>

      <!--suppress AngularInvalidTemplateReferenceVariable -->
      <form #formDirective="ngForm"
            (ngSubmit)="comment(enrollment); formDirective.resetForm()"
            [formGroup]="event">
        <mat-form-field>
          <input matInput
                 id="name"
                 placeholder="Name"
                 formControlName="name">
          <mat-error *ngIf="event.get('name').invalid">{{ getNameErrorMessage() }}</mat-error>
        </mat-form-field>

        <mat-form-field>
          <textarea matInput
                    id="comment"
                    placeholder="Kommentar"
                    formControlName="comment">
          </textarea>
          <mat-error *ngIf="event.get('comment').invalid">{{ getCommentErrorMessage() }}</mat-error>
        </mat-form-field>

        <button mat-raised-button color="primary" id="submit">Kommentieren</button>
      </form>
    </mat-expansion-panel>

    <div class="comment-list">
      <div class="comment-block" *ngFor="let comment of enrollment.comments">
        <span>{{comment.name}}</span>
        <span class="separator higher colored small"></span>
        <span class="comment">{{comment.comment}}</span>
        <span>{{comment.iat}}</span>
      </div>
    </div>
  </div>
</div>
