<mat-card *ngIf="percentDone === 0">
  <mat-card-title class="headline">
    Termin erstellen
  </mat-card-title>
  <span (click)="openAppointmentTemplateDialog()">
    Vorlagen
    <mat-icon>file_copy</mat-icon>
  </span>
  <mat-vertical-stepper #stepper [linear]="false">
    <mat-step [stepControl]="overallDataFormGroup">
      <form [formGroup]="overallDataFormGroup">
        <ng-template matStepLabel>Allgemein</ng-template>
        <span class="info">
          Allgemeine Informationen des Termins
        </span>
        <mat-form-field class="">
          <input matInput
                 placeholder="Titel"
                 formControlName="title"
                 id="title"
                 required>
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input matInput [matDatepicker]="date"
                 placeholder="Datum"
                 formControlName="date"
                 id="date"
                 required>
          <mat-datepicker-toggle matSuffix [for]="date"></mat-datepicker-toggle>
          <mat-datepicker touchUi #date></mat-datepicker>
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input matInput [matDatepicker]="deadline"
                 placeholder="Anmeldefrist"
                 formControlName="deadline"
                 id="deadline">
          <mat-datepicker-toggle matSuffix [for]="deadline"></mat-datepicker-toggle>
          <mat-datepicker touchUi #deadline></mat-datepicker>
        </mat-form-field>
        <mat-form-field class="">
          <input matInput
                 placeholder="Ort"
                 formControlName="location"
                 id="location"
                 required>
        </mat-form-field>
        <mat-form-field class="">
          <input matInput
                 placeholder="Maximale Teilnehmer"
                 formControlName="maxEnrollments"
                 id="maxEnrollments">
        </mat-form-field>
        <div class="stepper-navigation">
          <button mat-button mat-stroked-button matStepperNext>Weiter</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="additionFormGroup">
      <form [formGroup]="additionFormGroup">
        <ng-template matStepLabel>Zusätze</ng-template>

        <span class="info">
          Zusätze, welche beim Anmelden mit Ja/Nein beantwortet werden.
        </span>

        <ng-container id="additionList">
          <div class="tooltip-container">
            <mat-checkbox formControlName="driverAddition">
              Fahrer
            </mat-checkbox>
            <!--suppress TypeScriptUnresolvedFunction -->
            <mat-icon #driverAdditionTooltip="matTooltip"
                      (click)="driverAdditionTooltip.toggle()"
                      class="tooltip"
                      matTooltip="{{'Hierbei können sich Teilnehmer als Fahrer melden. Sie geben unter Anderem die Anzahl freier Plätze ein und in welche Richtung sie fahren.'}}">
              info
            </mat-icon>
          </div>

          <div *ngFor="let addition of additionFormGroup.controls.additions.controls; let i = index"
               formArrayName="additions">
            <mat-form-field class="">
              <input matInput
                     [formControlName]="i"
                     placeholder="Zusatz {{i + 1}}"
                     id="i">
              <mat-icon matSuffix
                        (click)="removeAddition(i)">
                clear
              </mat-icon>
            </mat-form-field>
          </div>
        </ng-container>

        <button mat-button mat-stroked-button
                (click)="addAddition()"
                class="solo">
          Hinzufügen
        </button>

        <div class="stepper-navigation">
          <button mat-button mat-stroked-button matStepperNext>{{hasAdditions() ? 'Weiter' : 'Nein danke'}}</button>
          <button mat-button matStepperPrevious>Zurück</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]=" linkFormGroup">
      <form [formGroup]="linkFormGroup">
        <ng-template matStepLabel>Link</ng-template>

        <span class="info">
          Eigener URL Pfad zum Termin
        </span>

        <mat-form-field class="">
          <input matInput
                 placeholder="Wunschlink"
                 formControlName="link"
                 id="link">
          <mat-hint class="small"
                    *ngIf="linkFormGroup.get('link').value !== ''
                  && linkFormGroup.get('link').value !== null">
            {{urlService.getHostname()}}{{linkFormGroup.get('link').value | urlEncode}}
          </mat-hint>
          <mat-error>{{ this.getLinkErrorMessage() }}</mat-error>
        </mat-form-field>

        <mat-form-field>
          <div class="tooltip-container">
            <textarea #description
                      formControlName="description"
                      id="description"
                      matInput
                      minlength="5"
                      placeholder="Zusatzinformationen"
                      required>
            </textarea>
            <!--suppress TypeScriptUnresolvedFunction -->
            <mat-icon #descriptionTooltip="matTooltip"
                      (click)="descriptionTooltip.toggle()"
                      class="tooltip"
                      matTooltip="{{'Dieser Text wird unter Anderem beim Versenden des Anmeldelinks als Linkvorschau angezeigt.'}}">
              info
            </mat-icon>
          </div>

          <mat-hint align="start"
                    *ngIf="description.value.length < 10">
            Noch mindestens {{10 - description.value.length}} Zeichen
          </mat-hint>
        </mat-form-field>

        <div class="stepper-navigation">
          <button mat-button mat-stroked-button matStepperNext>Weiter</button>
          <button mat-button matStepperPrevious>Zurück</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="administrationFormGroup">
      <form [formGroup]="administrationFormGroup">
        <ng-template matStepLabel>Administration</ng-template>
        <span class="info">
          Erlaube jemandem die Administration dieses Termins
        </span>
        <mat-form-field>
          <mat-chip-list #chipList aria-label="Berechtigungen">
            <mat-chip *ngFor="let user of users"
                      [removable]="true"
                      (removed)="removeUser(user)">
              {{user}}
              <mat-icon matChipRemove>cancel</mat-icon>
            </mat-chip>
            <input matInput
                   placeholder="Email Adresse"
                   #userInput
                   [matChipInputFor]="chipList"
                   [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                   [matAutocomplete]="auto"
                   [matChipInputAddOnBlur]="true"
                   (matChipInputTokenEnd)="add($event)">
          </mat-chip-list>
          <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
            <mat-option *ngFor="let user of filteredUsers | async" [value]="user">
              {{user}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
        <div class="stepper-navigation">
          <button mat-button mat-stroked-button matStepperNext>Weiter</button>
          <button mat-button matStepperPrevious>Zurück</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="fileUpload">
      <ng-template matStepLabel>Zusatzdatei</ng-template>
      <span class="info">
        Diese Datei wird zum Download bereitgestellt. Hier finden z.B: Muttizettel o.ä. Platz.
        <span>(Je kürzer und aussagekräftiger der Datei Name, desto besser)</span>
      </span>
      <button (click)="selectFile()" color="warn" mat-button>
        <mat-icon>file_upload</mat-icon>
        Hochladen
      </button>
      <br/>
      <ul>
        <li *ngFor="let file of files">
          <span id="file-label">
            {{file.file.name}}
          </span>
          <mat-progress-bar *ngIf="!file.done" mode="indeterminate"></mat-progress-bar>
        </li>
      </ul>
      <input id="fileUpload" multiple="multiple" name="fileUpload" style="display:none;" type="file"/>
    </mat-step>
    <mat-step [stepControl]="doneGroup">
      <form [formGroup]="doneGroup">
        <ng-template matStepLabel>Fertig</ng-template>

        <div class="tooltip-container">
          <mat-checkbox formControlName="saveAsTemplate">
            Als Vorlage Speichern
          </mat-checkbox>
          <!--suppress TypeScriptUnresolvedFunction -->
          <mat-icon #templateTooltip="matTooltip"
                    (click)="templateTooltip.toggle()"
                    class="tooltip"
                    matTooltip="{{'Die Kerndaten des Termins werden als Vorlage für schnelleres Erstellen eines Termins bereitgestellt.'}}">
            info
          </mat-icon>
        </div>

        <div class="stepper-navigation">
          <button (click)="create()" mat-button mat-stroked-button>Erstellen</button>
          <button mat-button matStepperPrevious>Zurück</button>
        </div>
      </form>
    </mat-step>
  </mat-vertical-stepper>
</mat-card>

<div *ngIf="percentDone !== 0" class="upload-progress">
  <span> Der Termin wird erstellt </span>
  <ng-container *ngIf="percentDone !== 100">
    <span>{{percentDone}}%</span>
  </ng-container>

  <ng-container *ngIf="percentDone === 100">
    <span>
      <mat-icon>
        check_circle_outline
      </mat-icon>
    </span>
  </ng-container>

  <mat-progress-bar [value]="percentDone"
                    mode="determinate">
  </mat-progress-bar>
</div>

