<mat-card *ngIf="percentDone === 0">
  <mat-card-title class="headline">
    Termin erstellen
  </mat-card-title>
  <!--  <span (click)="_openAppointmentTemplateDialog()">-->
  <!--    Vorlagen-->
  <!--    <mat-icon>file_copy</mat-icon>-->
  <!--  </span>-->
  <mat-vertical-stepper #stepper>
    <!-- OVERALL DATA-->
    <mat-step>
      <ng-template matStepLabel>
        Allgemein
      </ng-template>
      <app-overall-data
        (save)="getOverallData($event)"
        [button]="'Weiter'">
      </app-overall-data>
    </mat-step>

    <!-- ADDITIONS-->
    <mat-step>
      <ng-template matStepLabel>
        Zusätze
      </ng-template>
      <app-additions
        (save)="getAdditions($event)"
        [button]="'Weiter'">
      </app-additions>
      <button mat-button matStepperPrevious>Zurück</button>
    </mat-step>

    <!-- LINK DATA -->
    <mat-step>
      <ng-template matStepLabel>
        Link
      </ng-template>
      <app-link-data
        (save)="getLinkData($event)"
        [button]="'Weiter'">>
      </app-link-data>
      <button mat-button matStepperPrevious>Zurück</button>
    </mat-step>

    <!-- DONE -->
    <mat-step [stepControl]="doneGroup">
      <form [formGroup]="doneGroup">
        <ng-template matStepLabel>
          Fertig
        </ng-template>
        <!--        <div class="tooltip-container">-->
        <!--          <mat-checkbox formControlName="saveAsTemplate">-->
        <!--            Als Vorlage Speichern-->
        <!--          </mat-checkbox>-->
        <!--          &lt;!&ndash;suppress TypeScriptUnresolvedFunction &ndash;&gt;-->
        <!--          <mat-icon #templateTooltip="matTooltip"-->
        <!--                    (click)="templateTooltip.toggle()"-->
        <!--                    class="tooltip"-->
        <!--                    matTooltip="{{'Die Kerndaten des Termins werden als Vorlage für schnelleres Erstellen eines Termins bereitgestellt.'}}">-->
        <!--            info-->
        <!--          </mat-icon>-->
        <!--        </div>-->
        <div class="stepper-navigation">
          <button (click)="create()"
                  mat-stroked-button>
            Erstellen
          </button>
          <button mat-button matStepperPrevious>Zurück</button>
        </div>
      </form>
    </mat-step>
  </mat-vertical-stepper>
</mat-card>

<div *ngIf="percentDone !== 0" class="upload-progress">
  <span>Der Termin wird erstellt</span>
  <ng-container *ngIf="percentDone !== 100">
    <span>{{ percentDone }}%</span>
  </ng-container>
  <ng-container *ngIf="percentDone === 100">
    <span>
      <mat-icon>check_circle_outline</mat-icon>
    </span>
  </ng-container>
  <mat-progress-bar
    [value]="percentDone"
    mode="determinate"></mat-progress-bar>
</div>

