.mat-card {
  margin: 25px auto;
}

.mat-form-field {
  font-size: 0.8em;
}

.stepper-navigation {
  margin-top: 15px;
}

button.mat-button {
  line-height: 27px;
  padding: 0 10px;
}

mat-chip-list {
  mat-chip {
    font-size: 0.9em;
    overflow: initial;
    padding: 4px 8px 4px 12px;
    min-height: 25px;
  }
}
