<mat-card class="form float">
  <mat-card-title *ngIf="this.error === null"
                  class="headline">
    Passwort vergessen
  </mat-card-title>

  <mat-card-content>
    <ng-container *ngIf="this.mail != null && this.token != null; else initial">
      <ng-container *ngIf="this.error === null; else err">
        <form (ngSubmit)="setPassword()"
              [formGroup]="passwordResetEvent"
              class="password-reset-form">
          <mat-form-field class="pass"
                          formGroupName="passwords">
            <input [type]="hide ? 'password' : 'text'"
                   formControlName="password"
                   id="password"
                   matInput
                   placeholder="Passwort"
                   required>
            <button (click)="hide = !hide" mat-icon-button matSuffix type="button">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <mat-hint>Gebe dein neues Passwort an</mat-hint>
            <mat-error
              *ngIf="getPassword().invalid">{{ getPasswordErrorMessage() }}</mat-error>
          </mat-form-field>
          <mat-form-field class="pass" formGroupName="passwords">
            <input [type]="hide ? 'password' : 'text'"
                   formControlName="passwordVerify"
                   id="passwordVerify"
                   matInput
                   placeholder="Passwort wiederholen"
                   required>
            <button (click)="hide = !hide" mat-icon-button matSuffix type="button">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <mat-hint>Passwort wiederholen</mat-hint>
            <mat-error
              *ngIf="getPasswordVerify().invalid">{{ getPasswordVerifyErrorMessage() }}
            </mat-error>
          </mat-form-field>
          <mat-card-actions>
            <button (submit)="setPassword()" color="primary" id="submit" mat-raised-button>
              Speichern
            </button>
          </mat-card-actions>
        </form>
      </ng-container>
    </ng-container>
  </mat-card-content>
</mat-card>

<ng-template #initial>
  <form (ngSubmit)="initReset()"
        *ngIf="!done; else doneTemp"
        [formGroup]="mailEvent"
        id="initial-mail-form">
    <mat-form-field class="mail">
      <input formControlName="mail"
             id="username"
             matInput
             placeholder="E-Mail Adresse"
             required>
      <mat-error *ngIf="getMail().invalid">{{getMailErrorMessage()}}</mat-error>
      <mat-hint>Gebe hier die E-Mail Adresse deines Accounts an</mat-hint>
    </mat-form-field>
    <mat-card-actions>
      <button [disabled]="loading" color="primary" mat-raised-button>
        <span *ngIf="loading">
          <mat-spinner [diameter]="24" style="margin: 5px;"></mat-spinner>
        </span>
        <span *ngIf="!loading">
          Zurücksetzen
        </span>
      </button>
    </mat-card-actions>
  </form>
</ng-template>

<ng-template #doneTemp>
  <span>{{doneMsg}}</span>
  <mat-card-actions>
    <button [queryParams]="{ mail: mail }"
            [routerLink]="['/account/login']"
            mat-raised-button>
      Login
    </button>
  </mat-card-actions>
</ng-template>

<ng-template #err>
  <span>{{error}}</span>
</ng-template>

