<mat-card class="form float">
  <mat-card-title class="headline" id="title">
    Login
  </mat-card-title>

  <form (ngSubmit)="login()" [formGroup]="event"
        id="login-form">
    <mat-card-content>
      <mat-form-field class="username">
        <input matInput
               formControlName="username"
               id="username"
               placeholder="Email/Benutzername"
               required>
        <mat-error>{{ getUsernameErrorMessage() }}</mat-error>
      </mat-form-field>
      <mat-form-field class="pass">
        <input matInput
               [type]="hide ? 'password' : 'text'"
               formControlName="password"
               id="password"
               placeholder="Passwort" required>
        <button (click)="hide = !hide" aria-label="toggle password visibility" mat-icon-button matSuffix type="button">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error id="login-error">{{ getPasswordErrorMessage() }}</mat-error>
      </mat-form-field>
      <div class="additional-information">
        <a [queryParams]="{mail: getUsername().value}"
           [routerLink]="['/account/passwordreset']"
           queryParamsHandling="merge">
          Passwort vergessen?
        </a>
      </div>
    </mat-card-content>


    <div class="info">
      Du wirst nach dem Login dahin weitergeleitet wo du herkommst
    </div>

    <mat-card-actions class="double">
      <div>
        <button [routerLink]="['/account/register']"
                class="left"
                color="primary"
                mat-button>
          Neues Konto
        </button>
      </div>
      <button [active]="sendingRequestEmit"
              [innerValue]="'Login'"
              appLoadingDisable
              color="primary"
              id="submit"
              mat-raised-button>
        Login
      </button>
    </mat-card-actions>
  </form>
</mat-card>

