@import "src/variables";

::ng-deep .mat-horizontal-stepper-header-container {
  display: none !important;
}

::ng-deep .mat-horizontal-content-container {
  padding: 0 !important;
}

.mat-divider-horizontal {
  position: relative !important;
}
