<mat-card class="form float high">
  <mat-card-title class="headline" id="title">
    Anmelden
  </mat-card-title>

  <mat-horizontal-stepper #stepper linear>
    <mat-step>
      <app-enrollment-main-form
        #mainForm
        (done)="mainFormDone($event)"
        (selfEnrollment)="setSelfEnrollment($event)"
        [appointment]="appointment"
        [isEnrolledAsCreator]="isEnrolledAsCreator"
        [values]="mainFormValues">
      </app-enrollment-main-form>
    </mat-step>

    <mat-step *ngIf="getAdditionsControls().length > 0">
      <form (ngSubmit)="saveAdditionsForm()"
            [formGroup]="form_additions">
        <mat-card-content>
          <div class="additions">
            <div *ngFor="let addition of getAdditionsControls(); let i = index;"
                 formArrayName="additions">
              <mat-checkbox
                [formControlName]="'' + i">
                {{appointment.additions[i].name}}
              </mat-checkbox>
            </div>
          </div>
        </mat-card-content>

        <mat-card-actions class="double">
          <div>
            <button class="left"
                    color="primary"
                    id="back_additions"
                    mat-button
                    matStepperPrevious
                    type="button">
              Zurück
            </button>
          </div>
          <button color="primary"
                  id="next_additions"
                  mat-raised-button
                  matStepperNext
                  type="submit">
            Weiter
          </button>
        </mat-card-actions>
      </form>
    </mat-step>

    <mat-step *ngIf="appointment.driverAddition"
              [stepControl]="form_driverPassenger">
      <form (ngSubmit)="saveDriverForm()"
            [formGroup]="form_driverPassenger">
        <mat-card-content>
          <div class="driverAddition">
            <div>
              <mat-checkbox
                formControlName="driver">
                Fahrer
              </mat-checkbox>
            </div>

            <mat-form-field *ngIf="!getDriver().value; else driver">
              <mat-label>Mich bitte mitnehmen</mat-label>
              <mat-select formControlName="requirement" required>
                <mat-option [value]="0"> ---</mat-option>
                <mat-option [value]="1"> Nur Hin</mat-option>
                <mat-option [value]="2"> Nur Zurück</mat-option>
                <mat-option [value]="3"> Hin und Zurück</mat-option>
              </mat-select>
              <mat-error *ngIf="form_driverPassenger.get('requirement').invalid">
                {{ getSelectErrorMessage() }}
              </mat-error>
            </mat-form-field>

            <ng-template #driver>
              <mat-form-field>
                <mat-label>Ich fahre</mat-label>
                <mat-select formControlName="service" required>
                  <mat-option [value]="1"> Nur Hin</mat-option>
                  <mat-option [value]="2"> Nur Zurück</mat-option>
                  <mat-option [value]="3"> Hin und Zurück</mat-option>
                </mat-select>
                <mat-error *ngIf="form_driverPassenger.get('service').invalid">
                  {{ getSelectErrorMessage() }}
                </mat-error>
              </mat-form-field>

              <mat-form-field class="seats">
                <input formControlName="seats"
                       id="seats"
                       matInput
                       placeholder="FREIE Plätze"
                       required
                       type="number">
                <mat-error *ngIf="form_driverPassenger.get('seats').invalid">
                  {{ getSeatsErrorMessage() }}
                </mat-error>
              </mat-form-field>
            </ng-template>
          </div>
        </mat-card-content>

        <mat-card-actions class="double">
          <div>
            <button class="left"
                    color="primary"
                    id="back_driver"
                    mat-button
                    matStepperPrevious
                    type="button">
              Zurück
            </button>
          </div>
          <button color="primary"
                  id="next_driver"
                  mat-raised-button
                  matStepperNext
                  type="submit">
            Weiter
          </button>
        </mat-card-actions>
      </form>
    </mat-step>
    <mat-step>
      <mat-card-content>
        <app-enrollment-details
          [appointment]="appointment"
          [enrollment]="finalEnrollment">
        </app-enrollment-details>
      </mat-card-content>

      <mat-divider></mat-divider>

      <div class="info">
        Sind alle daten korrekt?
      </div>

      <mat-card-actions class="double">
        <div>
          <button class="left"
                  color="primary"
                  id="back_check"
                  mat-button
                  matStepperPrevious
                  type="button">
            Zurück
          </button>
        </div>
        <button (click)="this.enrollmentAssignmentDecision()"
                [active]="sendingRequestEmit"
                [innerValue]="'Anmelden'"
                appLoadingDisable
                color="primary"
                id="next_check"
                matStepperNext
                type="submit"
                mat-raised-button>
          Anmelden
        </button>
      </mat-card-actions>
    </mat-step>

    <mat-step>
      <app-enrollment-login-mail
        (cancel)="mailFormCancel()"
        (done)="mailFormSubmit($event)">
      </app-enrollment-login-mail>
    </mat-step>
  </mat-horizontal-stepper>
</mat-card>
