<mat-card class="form float high">
  <mat-card-title class="headline"
                  id="title">
    Anmelden
  </mat-card-title>

  <mat-horizontal-stepper #stepper
                          labelPosition="bottom"
                          linear>
    <!-- OVERALL DATA-->
    <ng-template matStepperIcon="overall">
      <mat-icon>person</mat-icon>
    </ng-template>
    <mat-step [completed]="doneForms['overall']"
              state="overall">
      <ng-template matStepLabel>
        Allgemein
      </ng-template>
      <app-enrollment-main-form
        #mainForm
        (done)="mainFormDone($event)"
        (selfEnrollment)="setSelfEnrollment($event)"
        [appointment]="appointment"
        [isEnrolledAsCreator]="isEnrolledAsCreator"
        [values]="mainFormValues">
      </app-enrollment-main-form>
    </mat-step>

    <!-- ADDITIONS -->
    <ng-template matStepperIcon="additions">
      <mat-icon>check_box</mat-icon>
    </ng-template>
    <mat-step *ngIf="getAdditionsControls().length > 0"
              [completed]="doneForms['additions']"
              [optional]="true"
              state="additions">
      <ng-template matStepLabel>
        Zusätze
      </ng-template>
      <form (ngSubmit)="saveAdditionsForm()"
            [formGroup]="form_additions">
        <span class="form-component-title"> Zusätze </span>

        <mat-card-content>
          <div class="addition-list-checkboxes">
            <div *ngFor="let addition of getAdditionsControls(); let i = index;"
                 [attr.addition-index]="i"
                 class="addition-checkbox"
                 formArrayName="additions">
              <mat-checkbox
                id="{{ 'addition-' + i }}"
                [formControlName]="'' + i">
                {{appointment.additions[i].name}}
              </mat-checkbox>
            </div>
          </div>
        </mat-card-content>

        <div class="info long">
          Genauere Informationen zu deiner Anmeldung.
        </div>

        <mat-card-actions class="double">
          <div>
            <button class="left"
                    color="primary"
                    id="back_additions"
                    mat-button
                    matStepperPrevious
                    type="button">
              Zurück
            </button>
          </div>
          <button color="primary"
                  id="next_additions"
                  mat-raised-button
                  matStepperNext
                  type="submit">
            Weiter
          </button>
        </mat-card-actions>
      </form>
    </mat-step>

    <!-- DRIVER ADDITION -->
    <ng-template matStepperIcon="driver">
      <mat-icon>directions_car</mat-icon>
    </ng-template>
    <mat-step *ngIf="appointment.driverAddition"
              [completed]="doneForms['driver']"
              [stepControl]="form_driverPassenger"
              state="driver">
      <ng-template matStepLabel>
        Fahrer
      </ng-template>

      <form (ngSubmit)="saveDriverForm()"
            [formGroup]="form_driverPassenger">
        <span class="form-component-title"> Fahrerzusatz </span>

        <mat-card-content>
          <div class="driverAddition">
            <div class="checkbox-standalone">
              <mat-checkbox formControlName="driver"
                            id="driver">
                Ich bin Fahrer
              </mat-checkbox>
            </div>

            <mat-form-field *ngIf="!getDriver().value; else driver">
              <mat-label>Mich bitte mitnehmen</mat-label>
              <mat-select formControlName="requirement" required>
                <mat-option [value]="0"> ---</mat-option>
                <mat-option [value]="1"> Nur Hin</mat-option>
                <mat-option [value]="2"> Nur Zurück</mat-option>
                <mat-option [value]="3"> Hin und Zurück</mat-option>
              </mat-select>
              <mat-error *ngIf="form_driverPassenger.get('requirement').invalid">
                {{ getSelectErrorMessage() }}
              </mat-error>
            </mat-form-field>

            <ng-template #driver>
              <mat-form-field>
                <mat-label>Ich fahre ...</mat-label>
                <mat-select formControlName="service" required>
                  <mat-option [value]="1"> Nur Hin</mat-option>
                  <mat-option [value]="2"> Nur Zurück</mat-option>
                  <mat-option [value]="3"> Hin und Zurück</mat-option>
                </mat-select>
                <mat-error *ngIf="form_driverPassenger.get('service').invalid">
                  {{ getSelectErrorMessage() }}
                </mat-error>
              </mat-form-field>

              <mat-form-field class="seats">
                <label for="seats">
                  <input formControlName="seats"
                         id="seats"
                         matInput
                         placeholder="FREIE Plätze"
                         required
                         type="number">
                </label>
                <mat-error *ngIf="form_driverPassenger.get('seats').invalid">
                  {{ getSeatsErrorMessage() }}
                </mat-error>
              </mat-form-field>
            </ng-template>
          </div>
        </mat-card-content>

        <div class="info long">
          Hast du noch Platz im Auto, oder soll man dich mitnehmen?
        </div>

        <mat-card-actions class="double">
          <div>
            <button class="left"
                    color="primary"
                    id="back_driver"
                    mat-button
                    matStepperPrevious
                    type="button">
              Zurück
            </button>
          </div>
          <button color="primary"
                  id="next_driver"
                  mat-raised-button
                  matStepperNext
                  type="submit">
            Weiter
          </button>
        </mat-card-actions>
      </form>
    </mat-step>

    <!-- DONE -->
    <ng-template matStepperIcon="last">
      <mat-icon>done_outline</mat-icon>
    </ng-template>
    <mat-step state="last">
      <ng-template matStepLabel>
        Fertig
      </ng-template>

      <span class="form-component-title"> Fertig? </span>

      <mat-card-content>
        <app-enrollment-details
          [appointment]="appointment"
          [enrollment]="finalEnrollment">
        </app-enrollment-details>
      </mat-card-content>

      <mat-divider></mat-divider>

      <div class="info">
        Sind alle Daten korrekt?
      </div>

      <mat-card-actions class="double">
        <div>
          <button class="left"
                  color="primary"
                  id="back_check"
                  mat-button
                  matStepperPrevious
                  type="button">
            Zurück
          </button>
        </div>
        <button (click)="this.enrollmentAssignmentDecision()"
                [active]="sendingRequestEmit"
                [innerValue]="'Anmelden'"
                appLoadingDisable
                color="primary"
                id="next_check"
                matStepperNext
                type="submit"
                mat-raised-button>
          Anmelden
        </button>
      </mat-card-actions>
    </mat-step>

    <ng-container *ngIf="showLoginAndMailForm">
      <ng-template matStepperIcon="email">
        <mat-icon>email</mat-icon>
      </ng-template>
      <mat-step state="mail">
        <ng-template matStepLabel>
          Mails
        </ng-template>

        <app-enrollment-login-mail
          (cancel)="mailFormCancel()"
          (done)="mailFormSubmit($event)">
        </app-enrollment-login-mail>
      </mat-step>
    </ng-container>
  </mat-horizontal-stepper>
</mat-card>
