<mat-card class="form float high">
  <mat-card-title class="headline" id="title">
    Anmelden
  </mat-card-title>

  <mat-horizontal-stepper #stepper linear>
    <mat-step [stepControl]="form_main">
      <form (ngSubmit)="saveMainForm()"
            [formGroup]="form_main">
        <mat-card-content>
          <div *ngIf="userIsLoggedIn"
               [formGroup]="form_selfEnrollment"
               class="additions tooltip-container self-enrollment">
            <mat-checkbox (change)="changeSelfEnrollment()"
                          formControlName="selfEnrollment"
                          id="selfEnrollment">
              Ich melde mich selber an
            </mat-checkbox>
            <!--suppress TypeScriptUnresolvedFunction -->
            <mat-icon #tooltip="matTooltip"
                      (click)="tooltip.toggle()"
                      class="tooltip"
                      matTooltip="{{'Diese Anmeldung wird mit deinem Account verbunden. ' +
                     'Somit kannst du von überall deine Anmeldung bearbeiten oder löschen.'}}">
              info
            </mat-icon>
          </div>

          <mat-form-field class="name">
            <label for="name">
              <input formControlName="name"
                     id="name"
                     matInput
                     placeholder="Name"
                     required>
            </label>
            <mat-error id="name-error">
              {{ getNameErrorMessage() }}
            </mat-error>
          </mat-form-field>

          <mat-form-field [formGroup]="form_main">
              <textarea cdkAutosizeMaxRows="5"
                        cdkAutosizeMinRows="1"
                        cdkTextareaAutosize
                        formControlName="comment"
                        id="comment"
                        matInput placeholder="Kommentar">
              </textarea>
          </mat-form-field>
        </mat-card-content>

        <div *ngIf="creatorError"
             class="info after-input">
          <mat-error id="creator-error">
            {{ getCreatorErrorMessage() }}
          </mat-error>
        </div>

        <mat-card-actions class="double">
          <div>
            <button [queryParams]="{a: appointment.link}"
                    [routerLink]="['/enroll']"
                    class="left"
                    color="primary"
                    id="back_main"
                    mat-button
                    matStepperPrevious
                    type="button">
              Abbrechen
            </button>
          </div>
          <button [disabled]="creatorError"
                  color="primary"
                  id="next_main"
                  mat-raised-button
                  matStepperNext
                  type="submit">
            Weiter
          </button>
        </mat-card-actions>
      </form>
    </mat-step>

    <mat-step *ngIf="getAdditionsControls().length > 0">
      <form (ngSubmit)="saveAdditionsForm()"
            [formGroup]="form_additions">
        <mat-card-content>
          <div class="additions">
            <div *ngFor="let addition of getAdditionsControls(); let i = index;"
                 formArrayName="additions">
              <mat-checkbox
                [formControlName]="'' + i">
                {{appointment.additions[i].name}}
              </mat-checkbox>
            </div>
          </div>
        </mat-card-content>

        <mat-card-actions class="double">
          <div>
            <button class="left"
                    color="primary"
                    id="back_additions"
                    mat-button
                    matStepperPrevious
                    type="button">
              Zurück
            </button>
          </div>
          <button color="primary"
                  id="next_additions"
                  mat-raised-button
                  matStepperNext
                  type="submit">
            Weiter
          </button>
        </mat-card-actions>
      </form>
    </mat-step>

    <mat-step *ngIf="appointment.driverAddition"
              [stepControl]="form_driverPassenger">
      <form (ngSubmit)="saveDriverForm()"
            [formGroup]="form_driverPassenger">
        <mat-card-content>
          <div class="driverAddition">
            <div>
              <mat-checkbox
                formControlName="driver">
                Fahrer
              </mat-checkbox>
            </div>

            <mat-form-field *ngIf="!getDriver().value; else driver">
              <mat-label>Mich bitte mitnehmen</mat-label>
              <mat-select formControlName="requirement" required>
                <mat-option [value]="0"> ---</mat-option>
                <mat-option [value]="1"> Nur Hin</mat-option>
                <mat-option [value]="2"> Nur Zurück</mat-option>
                <mat-option [value]="3"> Hin und Zurück</mat-option>
              </mat-select>
              <mat-error *ngIf="form_driverPassenger.get('requirement').invalid">
                {{ getSelectErrorMessage() }}
              </mat-error>
            </mat-form-field>

            <ng-template #driver>
              <mat-form-field>
                <mat-label>Ich fahre</mat-label>
                <mat-select formControlName="service" required>
                  <mat-option [value]="1"> Nur Hin</mat-option>
                  <mat-option [value]="2"> Nur Zurück</mat-option>
                  <mat-option [value]="3"> Hin und Zurück</mat-option>
                </mat-select>
                <mat-error *ngIf="form_driverPassenger.get('service').invalid">
                  {{ getSelectErrorMessage() }}
                </mat-error>
              </mat-form-field>

              <mat-form-field class="seats">
                <input formControlName="seats"
                       id="seats"
                       matInput
                       placeholder="FREIE Plätze"
                       required
                       type="number">
                <mat-error *ngIf="form_driverPassenger.get('seats').invalid">
                  {{ getSeatsErrorMessage() }}
                </mat-error>
              </mat-form-field>
            </ng-template>
          </div>
        </mat-card-content>

        <mat-card-actions class="double">
          <div>
            <button class="left"
                    color="primary"
                    id="back_driver"
                    mat-button
                    matStepperPrevious
                    type="button">
              Zurück
            </button>
          </div>
          <button color="primary"
                  id="next_driver"
                  mat-raised-button
                  matStepperNext
                  type="submit">
            Weiter
          </button>
        </mat-card-actions>
      </form>
    </mat-step>
    <mat-step>
      <mat-card-title>
        Sind alle Daten korrekt?
      </mat-card-title>
      <mat-card-content>
        <div class="enrollment">
        <span class="user-information">
          <ng-container *ngIf="!isSelfEnrolling()">
            <mat-icon *ngIf="finalEnrollment.driver"> directions_car </mat-icon>
            {{finalEnrollment.name}}
          </ng-container>
          <ng-container *ngIf="isSelfEnrolling()">
            <mat-icon *ngIf="finalEnrollment.driver"> directions_car </mat-icon>
            {{this.authenticationService.currentUserValue.name}}
            <span>@{{this.authenticationService.currentUserValue.username}}</span>
          </ng-container>
        </span>
          <ng-container *ngIf="finalEnrollment.comment">
            <span class="separator small colored high"></span>
            <span class="comment-block"> {{ finalEnrollment.comment }} </span>
          </ng-container>
          <div *ngIf="appointment.additions.length > 0"
               class="addition-list">
            <span class="separator light small high"></span>
            <ng-container *ngFor="let addition of appointment.additions">
              <div>
                <mat-icon *ngIf="enrollmentCheckedAddition(finalEnrollment, addition.id); else blank">
                  check_box
                </mat-icon>
                <ng-template #blank>
                  <mat-icon>check_box_outline_blank</mat-icon>
                </ng-template>
                <span> {{ addition.name }} </span>
              </div>
            </ng-container>
          </div>
        </div>
      </mat-card-content>

      <mat-card-actions class="double">
        <div>
          <button class="left"
                  color="primary"
                  id="back_check"
                  mat-button
                  matStepperPrevious
                  type="button">
            Zurück
          </button>
        </div>
        <button (click)="this.enrollmentAssignmentDecision()"
                [active]="sendingRequestEmit"
                [innerValue]="'Anmelden'"
                appLoadingDisable
                color="primary"
                id="next_check"
                matStepperNext
                type="submit"
                mat-raised-button>
          Anmelden
        </button>
      </mat-card-actions>
    </mat-step>

    <mat-step>
      <app-enrollment-login-mail
        (cancel)="mailFormCancel()"
        (done)="mailFormSubmit($event)">
      </app-enrollment-login-mail>
    </mat-step>
  </mat-horizontal-stepper>
</mat-card>
