@import "src/variables";

::ng-deep .mat-horizontal-stepper-header-container {
  display: none !important;
}

::ng-deep .mat-horizontal-content-container {
  padding: 0 !important;
}

::ng-deep mat-card-content {
  padding-top: 5px;
}

.mat-divider-horizontal {
  position: relative !important;
}

.addition-list-checkboxes {
  text-align: left;
  display: grid;
  grid-gap: 0 5px;
  grid-template-columns: 1fr 1fr;
}
