<h1 class="headline">Anmeldesystem</h1>

<div class="block main">
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci consequatur cum explicabo obcaecati odit qui
    quibusdam sunt ut. Accusamus ad cupiditate doloribus eveniet ex fugit minus mollitia quae quos ratione, reiciendis
    soluta tenetur ullam, unde voluptatibus. Accusamus beatae dolore enim iure maxime nihil placeat sequi vel vitae
    voluptatem! Ad aperiam consequatur deleniti, deserunt ducimus, excepturi, non nulla pariatur perferendis quas
    quibusdam quis rem rerum sint soluta totam voluptatem. Alias aliquam atque culpa deleniti deserunt dignissimos dolor
    eius eligendi enim ex excepturi explicabo facere illo incidunt inventore itaque laboriosam, libero magnam, magni
    officia praesentium quasi rem repudiandae tempora tempore veritatis voluptatibus.
  </p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam nesciunt omnis rem saepe voluptatum? Architecto
    consequuntur dignissimos dolor, esse excepturi exercitationem illum inventore ipsam iure qui saepe sapiente sed!
    Aliquam aspernatur blanditiis corporis distinctio doloribus ea eius illo, inventore minus omnis placeat quas quidem
    ratione reiciendis saepe tempora tenetur totam ullam veniam voluptatem? Ab ad amet aspernatur assumenda autem culpa
    cumque dicta dolores doloribus ea eaque eius eos esse eum eveniet fugiat illum impedit iure iusto libero maxime
    necessitatibus nemo nesciunt odio omnis, porro provident quam quas qui quis quod repudiandae rerum, ut veritatis
    vitae voluptates, voluptatibus! A aliquid autem blanditiis cum cupiditate, dicta dignissimos dolorem ea est eveniet
    exercitationem fugit harum illum incidunt inventore labore magnam mollitia nam neque nobis non numquam obcaecati
    pariatur porro provident quas quasi qui quis quisquam repudiandae sed tempora temporibus voluptas! Aliquam animi
    aperiam assumenda in laudantium nostrum quasi quod, quos sapiente ut. Minus.
  </p>

  <div class="stat-wrapper">
    <div class="stat-container">
      <h2>Termine</h2>
      <span>50</span>
    </div>
    <div class="stat-container">
      <h2>Anmeldungen</h2>
      <span>500</span>
    </div>
  </div>

  <div class="lading-account-option-wrapper">
    <div class="landing-account-options-container">
      <button mat-raised-button [routerLink]="['account/login']">Login</button>
    </div>
  </div>

</div>
