<mat-card class="main float">
  <mat-card-title class="headline">Anmeldesystem</mat-card-title>

  <mat-card-content>
    <p>
      Ein Anmeldesystem für jeden und jede Angelegenheit. Mit diesem System kannst du ohne Probleme deine Termine
      Verwalten und somit immer die
      Übersicht behalten. Egal ob Einfaches eintragen in eine Liste, modulare individuelle Ja/Nein Zusatzoptionen
      oder sonstiges. Der Termin
      ist sehr schnell und unkompliziert erstellt und man kann sich sofort dafür anmelden.
    </p>
  </mat-card-content>
  <mat-card-actions>
    <div class="stat-wrapper">
      <div class="stat-container">
        <span><span>50</span></span>
        <h2>Termine</h2>
      </div>
      <div class="stat-container">
        <span><span>500</span></span>
        <h2>Anmeldungen</h2>
      </div>
    </div>

    <div class="lading-account-option-wrapper">
      <div class="landing-account-options-container">
        <button mat-raised-button color="primary" [routerLink]="['account/login']">Login</button>
      </div>
    </div>
  </mat-card-actions>
</mat-card>
