<ng-container *ngIf="appointment$ | async as appointment; else loading">
  <app-appointment-data [appointment]="appointment"></app-appointment-data>

  <div *ngIf="!authenticationService.userIsLoggedIn()"
       class="mat-card basic">
    <span>Dir fehlen möglicherweise Berechtigungen für diesen Termin</span>
    <button [routerLink]="['/account/login']"
            [queryParams]="{returnUrl: router.routerState.snapshot.url}"
            color="primary" mat-raised-button>
      Login
    </button>
  </div>

  <!--  <div *ngIf="userIsLoggedIn" id="telegramAuth">-->
  <!--    <script async src="https://telegram.org/js/telegram-widget.js?7"-->
  <!--            data-telegram-login="eca_cgh_bot"-->
  <!--            data-size="large"-->
  <!--            data-onauth="onTelegramAuth(user)"-->
  <!--            data-request-access="write"></script>-->
  <!--  </div>-->

  <div *ngIf="hasUpdate" class="mat-card basic">
    <span class="big">Es sind neue Anmeldungen vorhanden.</span>
    <mat-icon (click)="reload(appointment.link)">cached</mat-icon>
  </div>

  <ng-container *ngIf="enrollments$ | async as enrollments">
    <app-enrollment-list [appointment]="appointment"
                         [enrollments]="enrollments$ | async"
                         [isMain]="true"
                         [subListTitle]="'Teilnehmer'"></app-enrollment-list>
    <app-enrollment-list *ngIf="limitReachedBeforeEnrollmentDeadline"
                         [appointment]="appointment"
                         [enrollments]="enrollmentsWaitingList$ | async"
                         [isMain]="false"
                         [subListTitle]="'Warteliste'"></app-enrollment-list>
    <app-enrollment-list [appointment]="appointment"
                         [enrollments]="enrollmentsLate$ | async"
                         [isMain]="false"
                         [subListTitle]="'Zu spät angemeldet'"></app-enrollment-list>
    <app-enrollment-list *ngIf="!limitReachedBeforeEnrollmentDeadline"
                         [appointment]="appointment"
                         [enrollments]="enrollmentsWaitingList$ | async"
                         [isMain]="false"
                         [subListTitle]="'Warteliste'"></app-enrollment-list>
  </ng-container>

  <div *ngIf="appointment.hidden"
       [routerLink]="['/support']"
       class="info spacing small link"
       fragment="anonymous">
    Warum sehe ich so wenig Anmeldungen?
  </div>

  <div *ngIf="!hasEnrollments">
    <div class="empty-list float">
      <span>Es hat sich noch niemand angemeldet.</span>
    </div>
  </div>

  <mat-icon [queryParams]="{a: link}"
            [routerLink]="['/enroll/add']"
            class="floating-button right">
    person_add
  </mat-icon>
  <mat-icon *ngIf="appointment.driverAddition"
            [queryParams]="{a: link}"
            [routerLink]="['/appointment/driver']"
            class="floating-button left decent">
    directions_car
  </mat-icon>
</ng-container>

<ng-template #loading>
  <app-loading *ngIf="!loaded"
               [@remove]>
  </app-loading>
  <app-fetch-appointment
    [done]="loaded">
  </app-fetch-appointment>
</ng-template>
