<ng-container *ngIf="appointment$ | async as appointment; else loadingTemplate">
  <div class="wrapper">
    <app-appointment-data [appointment]="appointment"
                          class="masonry-item">
    </app-appointment-data>

    <div class="information-wrapper masonry-item">
      <mat-card *ngIf="!authenticationService.userIsLoggedIn()"
                class="split slim">
        <span>Dir fehlen möglicherweise Berechtigungen für diesen Termin</span>

        <button [queryParams]="{returnUrl: router.routerState.snapshot.url}"
                [routerLink]="['/account/login']"
                color="primary" mat-raised-button>
          Login
        </button>
      </mat-card>
      <mat-card *ngIf="!websocketSubscriptionEstablished && !hideWebsocketSubscriptionInformation"
                class="closable slim">
        <mat-icon (click)="hideWebsocketSubscriptionInformation = true" class="close">close</mat-icon>
        <ng-container *ngIf="websocketSubscriptionRetryCount < 5;">
       <span>
        Verbindung zum Server wird aufgebaut<br/>
        </span>
          <span class="decent">
        Versuch {{websocketSubscriptionRetryCount + 1}} von 5 ...
      </span>
        </ng-container>
        <ng-container *ngIf="websocketSubscriptionRetryCount === 5">
          <div class="split small">
            <span>Konnte keine Live-Verbindung aufbauen. Manuelles Neuladen notwendig!</span>
            <mat-icon (click)="retryWebsocketSubscription()">
              cached
            </mat-icon>
          </div>
        </ng-container>
      </mat-card>

      <mat-card *ngIf="updatingAppointmentInBackground" class="split slim">
        <span class="big">Termin wird aktualisiert ...</span>
        <mat-icon class="spinning reverse">cached</mat-icon>
      </mat-card>

      <mat-card *ngIf="hasAppointmentUpdate" class="split slim">
        <span class="big">Es sind neue Anmeldungen vorhanden.</span>
        <mat-icon (click)="manualReload()">cached</mat-icon>
      </mat-card>

      <mat-card *ngIf="!updateOnWsCallSettingDefined"
                class="closable slim">
        <mat-icon (click)="updateOnWsCallSettingDefined = true" class="close">close</mat-icon>
        <div class="split">
        <span class="big">
          Automatisch neuste Daten laden<br/>
          <app-auto-load-on-ws-call></app-auto-load-on-ws-call>
        </span>
          <mat-icon [routerLink]="['/settings']">open_in_new</mat-icon>
        </div>
      </mat-card>

      <div *ngIf="tableCount() > 1 && appointment.additions.length > 0"
           class="managing-bar">
        <button (click)="toggleShowAdditions()"
                *ngIf="appointment.additions.length > 0"
                mat-raised-button>
          <mat-icon *ngIf="showAdditions">view_headline</mat-icon>
          <mat-icon *ngIf="!showAdditions">view_day</mat-icon>
        </button>

        <mat-card *ngIf="tableCount() > 1"
                  [attr.style]="sanitizer.bypassSecurityTrustStyle('--items: ' + (tableCount() + 1))"
                  class="enrollment-counter tiny">
          <div (click)="scroll('enrollments_actual')"
               *ngIf="enrollmentNr > 0">
            <mat-icon>check_circle_outline</mat-icon>
            <span>{{enrollmentNr}}</span>
          </div>
          <div (click)="scroll('enrollments_waiting')"
               *ngIf="enrollmentNrWaiting > 0 && limitReachedBeforeEnrollmentDeadline">
            <mat-icon>hourglass_empty</mat-icon>
            <span>{{enrollmentNrWaiting}}</span>
          </div>
          <div (click)="scroll('enrollments_late')"
               *ngIf="enrollmentNrLate > 0">
            <mat-icon>alarm</mat-icon>
            <span>{{enrollmentNrLate}}</span>
          </div>
          <div (click)="scroll('enrollments_waiting')"
               *ngIf="enrollmentNrWaiting > 0 && !limitReachedBeforeEnrollmentDeadline">
            <mat-icon>hourglass_empty</mat-icon>
            <span>{{enrollmentNrWaiting}}</span>
          </div>
          <div>
            <mat-icon>group</mat-icon>
            <span>{{enrollmentNr + enrollmentNrWaiting + enrollmentNrLate}}</span>
          </div>
        </mat-card>
      </div>
    </div>

    <ng-container *ngIf="enrollments$ | async as enrollments">
      <app-enrollment-list
        #enrollments_actual
        *ngIf="enrollments$.getValue().length > 0"
        [appointment]="appointment"
        [enrollments]="enrollments$ | async"
        [isMain]="true"
        [showAdditions]="showAdditions"
        [subListTitle]="'Teilnehmer'"
        class="masonry-item"
        id="enrollments_actual"></app-enrollment-list>
      <!--suppress XmlDuplicatedId -->
      <app-enrollment-list
        #enrollments_waiting
        *ngIf="limitReachedBeforeEnrollmentDeadline && enrollmentsWaitingList$.getValue().length > 0"
        [appointment]="appointment"
        [enrollments]="enrollmentsWaitingList$ | async"
        [isMain]="false"
        [showAdditions]="showAdditions"
        [subListTitle]="'Warteliste'"
        class="masonry-item"
        id="enrollments_waiting"></app-enrollment-list>
      <app-enrollment-list
        #enrollments_late
        *ngIf="enrollmentsLate$.getValue().length > 0"
        [appointment]="appointment"
        [enrollments]="enrollmentsLate$ | async"
        [isMain]="false"
        [showAdditions]="showAdditions"
        [subListTitle]="'Zu spät angemeldet'"
        class="masonry-item"
        id="enrollments_late"></app-enrollment-list>
      <!--suppress XmlDuplicatedId -->
      <app-enrollment-list
        #enrollments_waiting
        *ngIf="!limitReachedBeforeEnrollmentDeadline && enrollmentsWaitingList$.getValue().length > 0"
        [appointment]="appointment"
        [enrollments]="enrollmentsWaitingList$ | async"
        [isMain]="false"
        [showAdditions]="showAdditions"
        [subListTitle]="'Warteliste'"
        class="masonry-item"
        id="enrollments_waiting"></app-enrollment-list>
    </ng-container>
  </div>

  <div *ngIf="appointment.hidden"
       [routerLink]="['/support']"
       class="info spacing small link"
       fragment="anonymous">
    Warum sehe ich so wenig Anmeldungen?
  </div>

  <mat-card *ngIf="!hasEnrollments">
    <span>Es hat sich noch niemand angemeldet.</span>
  </mat-card>

  <div *ngIf="showEnrollmentHint"
       [queryParams]="{a: link}"
       [routerLink]="['/enrollment/add']"
       class="custom-tooltip right bottom show">
    Jetzt anmelden
    <span class="close">
      <mat-icon (click)="closeEnrollmentHint()">close</mat-icon>
    </span>
  </div>

  <div [queryParams]="{a: link}"
       [routerLink]="['/enrollment/add']"
       class="floating-button right hex-button">
    <div class="hex">
      <div></div>
      <div></div>
      <div></div>
    </div>
    <div class="hex">
      <div></div>
      <div></div>
      <div></div>
    </div>
    <mat-icon>
      person_add
    </mat-icon>
  </div>

  <div *ngIf="appointment.driverAddition"
       [queryParams]="{a: link}"
       [routerLink]="['/appointment/driver']"
       class="floating-button left hex-button">
    <div class="hex">
      <div></div>
      <div></div>
      <div></div>
    </div>
    <div class="hex">
      <div></div>
      <div></div>
      <div></div>
    </div>
    <mat-icon>
      directions_car
    </mat-icon>
  </div>
</ng-container>

<ng-template #loadingTemplate>
  <app-fetch-appointment [done]="loaded"></app-fetch-appointment>
</ng-template>
