@mixin md-icon-size($size: 24px) {
  font-size: $size;
  height: $size;
  width: $size;
  line-height: $size;
}

:host ::ng-deep .appointment-data {
  margin: 30px auto 30px;
}


/* GLOBAL */
.enrollment-list {
  padding: 0;
  position: relative;
  background-color: transparent;

  .header {
    .headline {
      span {
        mat-icon {
          vertical-align: middle;
        }
      }
    }
  }
}
