@import "src/variables";

@mixin md-icon-size($size: 24px) {
  font-size: $size;
  height: $size;
  width: $size;
  line-height: $size;
}

:host ::ng-deep .appointment-data {
}

.notification-wrapper {
  position: fixed;
  top: 10px;
  width: 100%;
  z-index: 11;

  .notification {
    display: none;
    text-align: center;
    margin: 0 auto;
    background-color: white;
    padding: 5px 15px;
    border-radius: 10px;
    font-size: 0.85em;
    width: fit-content;
    box-shadow: 0 5px 6px #2C2C2F;

    &.visible {
      display: block;
      animation: comeUp 0.25s;
    }

    button {
      font-size: 1em;
    }
  }
}

.additional-information {
  display: block;
  width: 100%;
}

@keyframes comeUp {
  0% {
    transform: scale(0.25);
    opacity: 1;
  }
  70% {
    transform: scale(1.1);
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}

.information-wrapper {
}


/* GLOBAL */
::ng-deep .enrollment-list {
  padding: 0;
  position: relative;
  background-color: transparent;

  .header {
    .headline {
      span {
        mat-icon {
          vertical-align: middle;
        }
      }
    }
  }
}

.managing-bar {
  display: grid;
  grid-template-columns: minmax(0px, auto) 1fr;
  grid-gap: 10px;
  align-items: center;
  margin: 0 auto 20px;

  button {
    height: 100%;
    min-width: unset;
  }

  .enrollment-counter {
    display: grid;
    grid-template-columns: repeat(var(--items), 1fr);
    grid-gap: 7.5%;

    div {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      vertical-align: middle;
      align-items: center;

      &:not(:last-of-type) {
        font-size: 13px;
        color: #707070;

        mat-icon {
          @include md-icon-size(1.5em);
        }
      }

      &:last-of-type {
        font-weight: bolder;
        color: $primary_dark;
      }
    }
  }

  & > mat-card {
    margin: 0;
  }
}


@media all and (min-width: 1024px) {
  .wrapper {
    display: flex;
    flex-wrap: wrap;

    .masonry-item {
      width: calc(50% - 25px);
      margin: 0 auto;
    }
  }

  ::ng-deep .appointment-data-wrapper {
  }
}
