<div class="menu-wrapper">
  <div (click)="toggleMenu()"
       [ngClass]="{'active': menu}"
       id="menuIcon">
    <span class="line"></span>
    <span class="line"></span>
    <span class="line"></span>
  </div>
  <div [ngClass]="{'visible': menu}"
       id="menu">
  </div>
  <div [@listAnimation]="menu" [ngClass]="{'visible': menu}" class="content">
    <h2>Menü</h2>
    <ul *ngFor="let group of items">
      <li (click)="navigate(item.redirect)"
          *ngFor="let item of group"
          [@.disabled]="false">
        {{item.name}}
      </li>
    </ul>
  </div>
</div>

<div class="svg-wrapper">
  <svg preserveAspectRatio="xMidYMid meet" version="1.0"
       viewBox="0 0 100.000000 100.000000"
       xmlns="http://www.w3.org/2000/svg">
    <metadata>
      Created by potrace 1.15, written by Peter Selinger 2001-2017
    </metadata>
    <g fill="#2C2C2F"
       stroke="none" transform="translate(0.000000,100.000000) scale(0.100000,-0.100000)">
      <path d="M2 911 c4 -78 9 -99 41 -164 60 -121 169 -206 302 -236 28 -6 104
   -15 170 -20 66 -5 143 -17 170 -26 171 -59 283 -218 309 -440 1 -17 4 196 5
  473 l1 502 -501 0 -501 0 4 -89z"/>
    </g>
  </svg>
  <!--  <svg version="2.0" xmlns="http://www.w3.org/2000/svg"-->
  <!--       viewBox="0 0 100.000000 100.000000"-->
  <!--       preserveAspectRatio="xMidYMid meet">-->
  <!--    <metadata>-->
  <!--      Created by potrace 1.15, written by Peter Selinger 2001-2017-->
  <!--    </metadata>-->
  <!--    <g transform="translate(0.000000,100.000000) scale(0.100000,-0.100000)"-->
  <!--       fill="#2B2C30" stroke="none">-->
  <!--      <path d="M0 844 l0 -156 55 -52 c65 -63 149 -110 236 -132 51 -13 89 -15 206-->
  <!-- -9 100 5 158 3 195 -5 89 -20 178 -70 245 -136 l63 -62 0 354 0 354 -500 0-->
  <!-- -500 0 0 -156z"/>-->
  <!--    </g>-->
  <!--  </svg>-->
</div>

<div class="main-wrapper">
  <router-outlet></router-outlet>
</div>
<div id="particles-js"></div>
<footer>
  <span>&copy; 2018 - {{ now }} Seba Momann</span>
  <span>Version {{version}}</span>
</footer>

<app-loading>
</app-loading>
