<h1 class="headline">Terminübersicht</h1>

<a [routerLink]="['/create']" class="title">Termin hinzufügen
  <mat-icon>library_add</mat-icon>
</a>

<!--<ng-container *ngIf="false; else appointmentdata">-->
<ng-container *ngIf="appointments !== undefined; else appointmentdata">
  <ng-container *ngIf="appointments.length > 0; else empty">
    <div [@listAnimation]="appointments.length" class="appointment-list-wrapper">
      <app-appointment-data *ngFor="let appointment of appointments"
                            [appointment]="appointment"
                            [preview]="true">

      </app-appointment-data>
    </div>
  </ng-container>


  <ng-container *ngIf="appointmentsArchive.length > 0">
    <h2 class="title">Archiv</h2>
    <div [@listAnimation]="appointments.length" class="appointment-list-wrapper">
      <ng-container *ngFor="let appointment of appointmentsArchive">
        <mat-card (click)="redirectToAppointment(appointment)" class="appointment-data archive">
          <mat-card-content>
            <span> {{ appointment.title }}</span>
            <span>{{ appointment.date | date: 'dd.MM.y, HH:mm'}}</span>
          </mat-card-content>
        </mat-card>
      </ng-container>
    </div>
  </ng-container>
</ng-container>

<ng-template #empty>
  <div *ngIf="allowToShowEmpty" class="empty-list standalone">
    <img src="/assets/img/404.svg">
    <span>
      Du hast gerade mit keinen aktiven Terminen zu tun. Erstelle dir einen eigenen!
    </span>
  </div>
</ng-template>

<ng-template #appointmentdata>
  <mat-progress-bar [@fadeInOut]
                    [value]="percentDone"
                    class="progress-bar"
                    mode="determinate">
  </mat-progress-bar>
  <div class="appointment-list-wrapper">
    <mat-card *ngFor="let number of numbers"
              [ngClass]="{'hide': hide}"
              class="template">
      <mat-card-title class="headline">
      </mat-card-title>
      <mat-card-content>
      <span>
        <mat-icon></mat-icon>
        <span></span>
      </span>
        <span>
        <mat-icon></mat-icon>
        <span></span>
      </span>
        <span>
        <mat-icon></mat-icon>
        <span></span>
      </span>
        <span>
        <mat-icon></mat-icon>
        <span></span>
      </span>
        <p></p>
      </mat-card-content>
    </mat-card>
  </div>
</ng-template>
