::ng-deep .appointment-data {
  margin: 20px auto 20px !important;

  mat-card-title {
    font-size: 1.4em !important;
  }
}

.template {

  width: 80%;
  text-align: center;
  margin: 20px auto 10px;
  background-size: 500% 250%;
  background: linear-gradient(324deg, #ffffff, #c8c8c8);
  background-size: 400% 400%;

  -webkit-animation: AnimationName 3s ease infinite;
  -moz-animation: AnimationName 3s ease infinite;
  animation: AnimationName 3s ease infinite;

  &.hide {
    animation: hide 1s;
  }

  mat-card-title {
    height: 37px;
    width: 75%;
    background-color: white;
    margin: 0 auto 25px;
    border-radius: 100px;
  }

  mat-card-content {
    & > span {
      height: 31px;
      background-color: white;
      margin: 4px 10px;
      display: inline-block;
      width: calc(50% - 20px);
      border-radius: 100px;
    }
  }
}

@-webkit-keyframes AnimationName {
  0% {
    background-position: 0% 36%
  }
  50% {
    background-position: 100% 65%
  }
  100% {
    background-position: 0% 36%
  }
}

@-moz-keyframes AnimationName {
  0% {
    background-position: 0% 36%
  }
  50% {
    background-position: 100% 65%
  }
  100% {
    background-position: 0% 36%
  }
}

@keyframes AnimationName {
  0% {
    background-position: 0% 36%
  }
  50% {
    background-position: 100% 65%
  }
  100% {
    background-position: 0% 36%
  }
}

@keyframes hide {
  0% {
    transform: scale(1.0);
  }
  25% {
    transform: scale(0.95);
  }
  60% {
    transform: scale(1.05);
    opacity: 1;
  }
  100% {
    transform: scale(0);
    opacity: 0;
  }
}

