@import "src/variables";

.appointment-list-wrapper,
::ng-deep .appointment-list-wrapper {
  text-align: center;
}

:host ::ng-deep .appointment-data {
  margin: 15px auto 5px;

  &:first-child {
    margin-top: 0;
  }

  &.archive {
    margin: 5px auto 0;
    padding: 10px;

    span {
      width: 50%;
      display: inline-block;
      text-align: left;
      text-align-last: initial;
      margin: 0;

      &:first-of-type {
        text-align: left;
        font-weight: bolder;
      }

      &:last-of-type {
        text-align: right;
        font-style: italic;
        font-size: 0.75em;
        vertical-align: bottom;
      }
    }
  }
}

.title {
  margin-top: 50px;
  color: $secondary;
}

$handleLength: 25px;
.dashboard-legend {
  position: fixed;
  right: calc(-50% + #{$handleLength});
  width: 50%;
  z-index: 99;
  transition: 0.5s 0s all;
  bottom: 10px;

  &.active {
    right: 0;
    transition: 0.5s 0.25s all;
  }

  & > div {
    display: inline-block;
    vertical-align: middle;
  }

  .handle {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    width: $handleLength;
    background-color: white;
    z-index: 100;
    box-shadow: -5px 5px 3px -3px rgba(0, 0, 0, 0.2);

    &.hide {
      width: 0;
    }

    span {
      writing-mode: vertical-rl;
      padding: 5px 0;
    }
  }

  .list {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    width: calc(100% - #{$handleLength});
    background-color: white;
    box-shadow: -5px 5px 3px -3px rgba(0, 0, 0, 0.2);

    ul {
      list-style: none;

      li {
        position: relative;

        ::ng-deep .bookmark-wrapper {
          width: 15px;
          transform: scale(0);
          transition: transform 0.5s;
          left: -35px;
        }
      }
    }
  }

  &.active {
    right: 0;

    .list {
      width: 100%;

      ul {
        li {
          ::ng-deep .bookmark-wrapper {
            transform: scale(0.8);
            transition: transform 0.25s;
            left: -35px;
          }
        }
      }
    }
  }
}

@media all and (min-width: 1024px) {
  .appointment-list-wrapper {
    --gap: 25px;

    display: flex;
    flex-wrap: wrap;
    gap: var(--gap);

    ::ng-deep app-appointment-data {
      width: calc(50% - var(--gap));
      margin: 0 auto var(--gap);

      &:nth-child(even) {
        margin-right: 0;
      }

      &:nth-child(odd) {
        margin-left: 0;
      }

      &:last-child {
        margin: 0 auto;
      }

      .appointment-data {
        &.archive {
          width: 25%;
          min-width: 300px;
          display: inline-block;
          margin: 10px;
        }
      }
    }
  }

  .appointment-list-wrapper {
    &.archive-wrapper {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: var(--gap);

      .archive-block-wrapper {
        width: 100%;
        margin: 50px 0;

        h3 {
          width: fit-content;
          margin: 0 auto 15px;
          border-bottom-left-radius: 15px;
          border-top-right-radius: 15px;
          white-space: nowrap;
        }
      }
    }
  }
}

.reload {
  margin: 50px auto 0;
  width: fit-content;

  & > .active {
    mat-icon {
      animation: spin 1s linear infinite;
    }
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

