<h1 class="headline">Terminübersicht</h1>

<a [routerLink]="['/create']" class="title standalone">Termin hinzufügen
  <mat-icon>library_add</mat-icon>
</a>

<ng-container *ngIf="_appointments$ | async as appointment; else loading">
  <div *ngIf="!authenticationService.userIsLoggedIn()" class="mat-card basic block">
    <span>
      Logge dich ein um mehr Termine zu sehen bei denen du dabei bist.
    </span>

    <button [queryParams]="{returnUrl: router.routerState.snapshot.url}"
            [routerLink]="'/account/login'"
            color="primary" mat-raised-button>
      Login
    </button>
  </div>

  <div (scrolled)="onScroll()"
       [infiniteScrollDisabled]="!hideTemplates"
       [infiniteScrollDistance]="2"
       class="appointment-lists"
       infiniteScroll>
    <ng-container *ngIf="_appointments.length > 0; else empty">
      <div [ngClass]="{'active': showLegend}"
           class="dashboard-legend">
        <div (click)="showLegend = !showLegend"
             [ngClass]="{'hide': showLegend}"
             class="handle">
          <span>LEGENDE</span>
          <mat-icon>chevron_left</mat-icon>
        </div>
        <div (click)="showLegend = !showLegend"
             class="list">
          <ul>
            <li>
              <app-bookmark [classes]="['creator']"></app-bookmark>
              <span>Ersteller</span>
            </li>
            <li>
              <app-bookmark [classes]="['admin']"></app-bookmark>
              <span>Admin</span>
            </li>
            <li>
              <app-bookmark [classes]="['enrolled']"></app-bookmark>
              <span>Angemeldet</span>
            </li>
            <li>
              <app-bookmark [classes]="['pinned']"></app-bookmark>
              <span>Angepinnt</span>
            </li>
          </ul>
        </div>
      </div>
      <div [@listAnimation]
           class="appointment-list-wrapper">
        <app-appointment-data *ngFor="let appointment of _appointments"
                              [appointment]="appointment"
                              [preview]="true">
        </app-appointment-data>
      </div>
    </ng-container>

    <ng-container *ngIf="appointmentsArchive.length > 0">
      <h2 class="title bar">Archiv</h2>
      <div [@listAnimation]
           class="appointment-list-wrapper">
        <ng-container *ngFor="let monthYear of appointmentsArchive">
          <div class="archive-block-wrapper">
            <h3 class="bar">{{monthYear.month | monthname}}&nbsp;-&nbsp;{{monthYear.year}}</h3>
            <ng-container *ngFor="let appointment of monthYear.appointments">
              <mat-card (click)="redirectToAppointment(appointment)"
                        class="appointment-data archive">
                <mat-card-content>
              <span>
                {{ appointment.title }}
              </span>
                  <span>
                {{ appointment.date | date: 'dd.MM.y, HH:mm'}}
              </span>
                </mat-card-content>
              </mat-card>
            </ng-container>
          </div>
        </ng-container>
      </div>
    </ng-container>
  </div>
  <div *ngIf="!totalAppointmentsLoaded" class="reload">
    <button (click)="onScroll()"
            [ngClass]="{'active': loading}"
            mat-raised-button>
      <mat-icon>refresh</mat-icon>
    </button>
  </div>
</ng-container>

<ng-template #empty>
  <div *ngIf="allowToShowEmptyHint" class="empty-list standalone">
    <img src="/assets/img/404.svg">
    <span>
      Du hast gerade mit keinen aktiven Terminen zu tun. Erstelle dir einen eigenen!
    </span>
  </div>
</ng-template>

<ng-template #loading>
  <app-dashboard-template>
  </app-dashboard-template>
</ng-template>
