<form [formGroup]="event">
  <span class="form-component-title">Zusätze</span>

  <mat-card-content>
    <div class="tooltip-container">
      <div class="checkbox-standalone">
        <mat-checkbox formControlName="driverAddition">
          Fahrerzusatz
        </mat-checkbox>
        <!--suppress TypeScriptUnresolvedFunction -->
        <mat-icon
          #driverAdditionTooltip="matTooltip"
          (click)="driverAdditionTooltip.toggle()"
          class="tooltip"
          matTooltip="{{
            'Hierbei können sich Teilnehmer als Fahrer melden. Sie geben unter Anderem die ' +
              'Anzahl freier Plätze ein und in welche Richtung sie fahren.'
          }}"
        >
          info
        </mat-icon>
      </div>
    </div>

    <div class="info after-input last">
      Zusatz zum Verwalten von Fahrern und Mitfahrern.
    </div>

    <span class="form-component-title">Weitere Zusätze</span>

    <div class="addition-wrapper">
      <!--suppress AngularInvalidExpressionResultType, JSUnusedGlobalSymbols -->
      <div
        *ngFor="
          let addition of event.controls.additions.controls;
          let i = index
        "
        formArrayName="additions"
      >
        <mat-form-field>
          <label for="{{ i }}">
            <input
              [formControlName]="i.toString()"
              id="{{ i }}"
              matInput
              placeholder="Zusatz {{ i + 1 }}"
            />
          </label>
          <mat-icon (click)="removeAddition(i)" matSuffix>clear </mat-icon>
        </mat-form-field>
      </div>

      <span class="error" *ngIf="additionError">{{
        getAdditionErrorMessage()
      }}</span>

      <button (click)="addAddition()" class="solo" mat-button>
        <mat-icon>library_add</mat-icon>
        Weiterer Zusatz
      </button>
    </div>
  </mat-card-content>

  <div class="info">
    Zusätze, welche beim Anmelden optional angekreutzt werden können.
  </div>

  <mat-card-actions class="double">
    <div *ngIf="isEdit">
      <button
        [queryParamsHandling]="'preserve'"
        [routerLink]="'/enroll'"
        class="left"
        color="primary"
        disableRipple
        mat-button
        type="button"
      >
        Zum Termin
      </button>
    </div>
    <div *ngIf="!isEdit">
      <button
        (click)="goBack()"
        class="left"
        color="primary"
        disableRipple
        mat-button
        type="button"
      >
        Zurück
      </button>
    </div>
    <button
      (click)="saveFnc()"
      [disabled]="sameValues && appointment !== undefined"
      color="primary"
      mat-raised-button
    >
      {{ isEdit ? "Speichern" : hasAdditions() ? "Weiter" : "Nein danke" }}
    </button>
  </mat-card-actions>
</form>
