.additions {
  text-align: left;
  margin: 5px auto 10px;

  & > div {
    text-align: left;
    width: 50%;
    display: inline-block;
    margin: 2.5px auto;
  }
}

.driverAddition {
  margin-top: 10px;

  & > div {
    text-align: left;

    &:first-child {
      margin: 0 0 16px 0;
    }
  }
}

.card-small {
  mat-card-content {
    span {
      display: block;
      margin: 0 auto 20px auto;
    }
  }

  .separator:after {
    margin-top: 30px;
    margin-bottom: 30px;
  }

  & > button {
    display: block;
    margin: 0 auto;

    &:last-of-type {
      margin-top: 20px;
    }
  }

  .divider {
    margin: 5px auto 0;
    display: block;
    font-style: italic;
  }
}

.token-select {
  position: relative;
  display: inline-block;
  width: 100%;

  .mat-form-field {
    width: 45%;
    vertical-align: center;
    margin: 0 auto;
    padding: 0px 5px;

    mat-card-actions {
      display: block;
    }
  }
}
