<ng-container *ngIf="appointment$ | async as appointment; else loading">
  <app-enrollment-edit
    #enrollmentEditRef
    (done)="sendEnrollmentRequest($event)"
    *ngIf="isEdit"
    [appointment]="appointment"
    [enrollmentId]="enrollmentId"
    [permissionToken]="permissionToken"
    [sendingRequestEmit]="sendingRequestEmit"
    [triggerDirectSend]="triggerDirectSend">
  </app-enrollment-edit>
</ng-container>

<ng-template #loading>
  <app-loading *ngIf="!loaded">
  </app-loading>
  <app-fetch-appointment
    [done]="loaded">
  </app-fetch-appointment>
</ng-template>
