<ng-container *ngIf="appointment$ | async as appointment; else loading">
  <div *ngIf="!showLoginAndTokenForm; else loading">
    <ng-container *ngIf="!empty; else emptyTmpl">
      <h1 class="headline">
        {{appointment.title}}
      </h1>

      <mat-card class="form">
        <mat-card-title class="headline">
          {{ edit ? 'Bearbeiten' : 'Anmelden' }}
        </mat-card-title>

        <mat-card-content>
          <form (ngSubmit)="parseDataFromEnrollmentForm()"
                class="register-form">
            <div *ngIf="userIsLoggedIn && !this.edit"
                 [formGroup]="selfEnrollment"
                 class="additions tooltip-container">
              <mat-checkbox formControlName="selfEnrollment">
                Ich melde mich selber an
              </mat-checkbox>
              <!--suppress TypeScriptUnresolvedFunction -->
              <mat-icon #tooltip="matTooltip"
                        (click)="tooltip.toggle()"
                        class="tooltip"
                        matTooltip="{{'Diese Anmeldung wird mit deinem Account verbunden. ' +
                     'Somit kannst du von überall deine Anmeldung bearbeiten oder löschen.'}}">
                info
              </mat-icon>
            </div>

            <div [formGroup]="event">
              <mat-form-field class="name">
                <label for="name">
                  <input formControlName="name"
                         id="name"
                         matInput
                         placeholder="Name"
                         required>
                </label>
                <mat-error *ngIf="getName().invalid">
                  {{ getNameErrorMessage() }}
                </mat-error>
              </mat-form-field>

              <div class="additions">
                <div *ngFor="let addition of getAdditionsControls(); let i = index;"
                     formArrayName="additions">
                  <mat-checkbox
                    [formControlName]="'' + i">
                    {{appointment.additions[i].name}}
                  </mat-checkbox>
                </div>
              </div>
            </div>

            <div [formGroup]="driverPassengerEvent">
              <div *ngIf="appointment.driverAddition" class="driverAddition">
                <div>
                  <mat-checkbox
                    formControlName="driver">
                    Fahrer
                  </mat-checkbox>
                </div>

                <mat-form-field *ngIf="!getDriver().value; else driver">
                  <mat-label>Mich bitte mitnehmen</mat-label>
                  <mat-select formControlName="requirement" required>
                    <mat-option [value]="0"> ---</mat-option>
                    <mat-option [value]="1"> Nur Hin</mat-option>
                    <mat-option [value]="2"> Nur Zurück</mat-option>
                    <mat-option [value]="3"> Hin und Zurück</mat-option>
                  </mat-select>
                  <mat-error *ngIf="driverPassengerEvent.get('requirement').invalid">
                    {{ getSelectErrorMessage() }}
                  </mat-error>
                </mat-form-field>

                <ng-template #driver>
                  <mat-form-field>
                    <mat-label>Ich fahre</mat-label>
                    <mat-select formControlName="service" required>
                      <mat-option [value]="1"> Nur Hin</mat-option>
                      <mat-option [value]="2"> Nur Zurück</mat-option>
                      <mat-option [value]="3"> Hin und Zurück</mat-option>
                    </mat-select>
                    <mat-error *ngIf="driverPassengerEvent.get('service').invalid">
                      {{ getSelectErrorMessage() }}
                    </mat-error>
                  </mat-form-field>

                  <mat-form-field class="seats">
                    <input formControlName="seats"
                           id="seats"
                           matInput
                           placeholder="FREIE Plätze"
                           required
                           type="number">
                    <mat-error *ngIf="driverPassengerEvent.get('seats').invalid">
                      {{ getSeatsErrorMessage() }}
                    </mat-error>
                  </mat-form-field>
                </ng-template>
              </div>
            </div>

            <mat-form-field [formGroup]="event">
          <textarea cdkAutosizeMaxRows="5"
                    cdkAutosizeMinRows="1"
                    cdkTextareaAutosize
                    formControlName="comment"
                    id="comment"
                    matInput placeholder="Kommentar">
          </textarea>
            </mat-form-field>


            <div *ngIf="!getSelfEnrollment().value"
                 [formGroup]="mailEvent">
              <div class="separator colored extra-extra-tall bolder middle center"></div>
              <mat-form-field>
                <label>
                  <input formControlName="mail"
                         matInput
                         placeholder="Mail-Adresse">
                </label>
                <mat-error>
                  {{ getMailErrorMessage() }}
                </mat-error>
              </mat-form-field>
            </div>

            <mat-card-actions>
              <button color="primary" id="submit" mat-raised-button>
                {{ edit ? 'Speichern' : 'Anmelden' }}
              </button>
              <a (click)="goBack()" mat-raised-button>
                Zurück
              </a>
            </mat-card-actions>
          </form>
        </mat-card-content>
      </mat-card>
    </ng-container>
  </div>
</ng-container>

<ng-container *ngIf="showLoginAndTokenForm">
  <mat-card class="float card-small">
    <mat-card-content>
        <span>
          Logge dich ein um deine Anmeldung deinem Account zuzuordnen und sie später bearbeten/löschen zu können.
        </span>
      <button [queryParams]="{returnUrl: this.currentUrlSnapshotWithParameter.url + '&send=true'}"
              [routerLink]="['/account/login']"
              color="primary"
              mat-raised-button>
        Login
      </button>
    </mat-card-content>

    <div class="separator middle center">
      <div class="tooltip-wrapper center">
        <!--suppress TypeScriptUnresolvedFunction -->
        <mat-icon #tooltip="matTooltip"
                  (click)="tooltip.toggle()"
                  class="highlight-animation tooltip"
                  matTooltip="{{'Wenn du keinen Account hast, dann gebe hier deine Mail-Adresse ein, um später deine ' +
                  'Anmeldung ändern oder löschen zu können. Mit der Angabe der Mail-Adresse, kannst du die ' +
                  'Berechtigung zum Bearbeiten auf verschiedenen Geräten erhalten.' }}">
          help_outline
        </mat-icon>
      </div>
    </div>

    <mat-card-content>
        <span>
          Oder gebe deine Email-Adresse an
        </span>

      <div [formGroup]="mailEvent">
        <div class="input-with-button-wrapper">
          <mat-form-field>
            <label>
              <input formControlName="mail"
                     matInput
                     placeholder="Mail-Adresse">
            </label>
            <mat-error>
              {{ getMailErrorMessage() }}
            </mat-error>
          </mat-form-field>
          <button (click)="sendEnrollment()"
                  mat-raised-button>
            Absenden
          </button>
        </div>
      </div>
    </mat-card-content>
    <button (click)="clearLoginAndMailFormIntercepting()"
            mat-raised-button>
      Zurück
    </button>
  </mat-card>
</ng-container>

<ng-template #emptyTmpl>
  <mat-card class="float error empty">
    <img src="/assets/img/404.svg">
    <span>Sorry, diese Anmeldung gibt es lieder nicht mehr.</span>
    <button [queryParams]="{a: link}"
            [routerLink]="['/enroll']"
            mat-raised-button>
      Okay
    </button>
  </mat-card>
</ng-template>

<ng-template #loading>
  <app-loading *ngIf="!loaded && !showLoginAndTokenForm"
               [@remove]>
  </app-loading>
  <app-fetch-appointment
    [done]="loaded"
    [percentDone]="percentDone">
  </app-fetch-appointment>
</ng-template>

<app-loading *ngIf="sendingRequest"
             [@remove]
             [customMessage]="'Speichere Anmeldung'">
</app-loading>
