<div *ngIf="appointment; else loading">
  <div class="header fixed">
    <mat-icon class="go_back" (click)="goBack()">last_page</mat-icon>
    <h2 class="headline">{{appointment.title}}</h2>
  </div>

  <mat-card class="form float">
    <mat-card-title class="headline">
      Anmelden
    </mat-card-title>

    <mat-card-content>
      <form (ngSubmit)="create()"
            class="register-form"
            [formGroup]="event">
        <mat-form-field class="name">
          <input matInput
                 id="name"
                 placeholder="Name"
                 formControlName="name"
                 required>
          <mat-error *ngIf="event.get('name').invalid">{{ getNameErrorMessage() }}</mat-error>
        </mat-form-field>

        <div class="additions">
          <div *ngFor="let addition of getAdditionsControls(); let i = index;"
               formArrayName="additions">
            <mat-checkbox
              [formControlName]="i">
              {{appointment.additions[i].name}}
            </mat-checkbox>
          </div>
        </div>

        <div class="driverAddition" *ngIf="appointment.driverAddition">
          <div>
            <mat-checkbox
              formControlName="driver">
              Fahrer
            </mat-checkbox>
          </div>

          <mat-form-field *ngIf="!event.get('driver').value; else driver">
            <mat-label>Mich bitte mitnehmen</mat-label>
            <mat-select formControlName="requirement" required>
              <mat-option [value]="0"> ---</mat-option>
              <mat-option [value]="1"> Nur Hin</mat-option>
              <mat-option [value]="2"> Nur Zurück</mat-option>
              <mat-option [value]="3"> Hin und Zurück</mat-option>
            </mat-select>
          </mat-form-field>

          <ng-template #driver>
            <mat-form-field>
              <mat-label>Ich fahre</mat-label>
              <mat-select formControlName="service" required>
                <mat-option [value]="1"> Nur Hin</mat-option>
                <mat-option [value]="2"> Nur Zurück</mat-option>
                <mat-option [value]="3"> Hin und Zurück</mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field class="seats">
              <input matInput
                     id="seats"
                     placeholder="FREIE Plätze"
                     formControlName="seats"
                     type="number"
                     required>
              <mat-error *ngIf="event.get('seats').invalid">{{ getSeatsErrorMessage() }}</mat-error>
            </mat-form-field>
          </ng-template>
        </div>

        <mat-form-field>
        <textarea matInput
                  formControlName="comment"
                  id="comment"
                  cdkTextareaAutosize
                  cdkAutosizeMinRows="1"
                  cdkAutosizeMaxRows="5" placeholder="Kommentar"></textarea>
        </mat-form-field>

        <mat-card-actions>
          <button id="submit" mat-raised-button color="primary">
            Anmelden
          </button>
        </mat-card-actions>
      </form>
    </mat-card-content>
  </mat-card>
</div>

<ng-template #loading>
  <ng-container *ngIf="appointment === undefined; else loadingBar">
    <div class="error empty">
      <span>Sorry - 404</span>
      <img src="/assets/img/404.svg">
      Ich konnte diesen Termin nicht finden!
    </div>
  </ng-container>
</ng-template>

<ng-template #loadingBar>
  <mat-progress-bar mode="query"></mat-progress-bar>
</ng-template>

