<mat-card class="form float">
  <mat-card-title class="headline">
    Registrieren
  </mat-card-title>

  <mat-card-content>
    <ng-container *ngIf="this.mail != null && this.token != null && !done; else initial">
      <ng-container *ngIf="this.error === null; else err">
        <ng-container *ngIf="this.verified">
        <span>
          Top! Ich konnte deinen Account verifizieren. Du kannst dich nun einloggen.
        </span>
          <mat-card-actions>
            <button [queryParams]="{ mail: mail }"
                    [routerLink]="['/account/login']"
                    mat-raised-button>
              Login
            </button>
          </mat-card-actions>
        </ng-container>
      </ng-container>
    </ng-container>
  </mat-card-content>
</mat-card>

<ng-template #initial>
  <form (ngSubmit)="create()"
        *ngIf="!done; else doneTemplate"
        [formGroup]="event"
        class="register-form">
    <mat-form-field class="name">
      <label for="name">
        <input formControlName="name"
               id="name"
               matInput
               placeholder="Anzeigename"
               required>
      </label>
      <button mat-icon-button matSuffix type="button">
        <!--suppress TypeScriptUnresolvedFunction -->
        <mat-icon #name="matTooltip"
                  (click)="name.toggle()"
                  class="tooltip"
                  matTooltip="{{'Erlaubte Beispiele: \r\n\r\n Max \r\n \r\n Max M \r\n Max1999 \r\n Max J M' }}">
          info
        </mat-icon>
      </button>
      <mat-error>{{ getErrorMessage('name') }}</mat-error>
    </mat-form-field>
    <mat-form-field class="username">
      <label for="username">
        <input formControlName="username"
               id="username"
               matInput
               placeholder="Benutzername"
               required>
      </label>
      <button mat-icon-button matSuffix type="button">
        <!--suppress TypeScriptUnresolvedFunction -->
        <mat-icon #username="matTooltip"
                  (click)="username.toggle()"
                  class="tooltip"
                  matTooltip="{{'Erlaubte Beispiele: \r\n\r\n max \r\n max123 \r\n max_m \r\n max_123_muster \r\n\r\n Mindestens 3 Buchstaben. \r\n Kein _ am Anfang oder Ende. \r\n Nur ein _ in Folge.' }}">
          info
        </mat-icon>
      </button>
      <mat-error>{{ getErrorMessage('username') }}</mat-error>
    </mat-form-field>
    <mat-form-field class="email">
      <label for="email">
        <input formControlName="email"
               id="email"
               matInput
               placeholder="E-Mail"
               required>
      </label>
      <mat-error>{{ getErrorMessage('email') }}</mat-error>
    </mat-form-field>
    <mat-form-field class="pass" formGroupName="passwords">
      <label for="password">
        <input [type]="hide ? 'password' : 'text'"
               formControlName="password"
               id="password"
               matInput
               placeholder="Passwort"
               required>
      </label>
      <button (click)="hide = !hide" aria-label="toggle password visibility" mat-icon-button matSuffix type="button">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
      <mat-error>{{ getErrorMessage('') }}</mat-error>
    </mat-form-field>
    <mat-form-field class="pass" formGroupName="passwords">
      <label for="passwordVerify">
        <input [type]="hide ? 'password' : 'text'"
               formControlName="passwordVerify"
               id="passwordVerify"
               matInput
               placeholder="Passwort wiederholen"
               required>
      </label>
      <button (click)="hide = !hide" aria-label="toggle password visibility" mat-icon-button matSuffix type="button">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
      <mat-error>{{ getErrorMessage('') }} </mat-error>
    </mat-form-field>
    <span>
        Du hast bereits einen Account?
        <br/>
        <a [routerLink]="['/account/login']">
          Mit Account einloggen!
        </a>
      </span>

    <mat-card-actions>
      <button color="primary" id="submit" mat-raised-button>
        Registrieren
      </button>
    </mat-card-actions>
  </form>
</ng-template>

<ng-template #doneTemplate>
  <span>
    Dein Account wurde erfolgreich angelegt. Bitte Folge den Anweisungen in der dir eben zugesandten E-Mail, um
    die Registrierung abzuschließen.
  </span>
</ng-template>

<ng-template #err>
  <span>{{error}}</span>
</ng-template>




