<ng-container *ngIf="enrollments_filtered$ | async as _enrollments">
  <div *ngIf="this._enrollments.length > 0 || getNumberOfActiveFilter(true) > 0;"
       [ngClass]="isMain ? '' : 'distance'"
       class="enrollment-list">
    <div class="header">
      <h2 class="headline medium">
        {{subListTitle}}
        <ng-container *ngIf="!appointment.hidden">
          [{{ this._enrollments.length }}{{ appointment.maxEnrollments !== null
        && isMain ? '/' + appointment.maxEnrollments : '' }}]
        </ng-container>
        <span *ngIf="getNumberOfActiveFilter(true) > 0">
        [<mat-icon>filter_list</mat-icon>:{{ this._enrollments.length }}]
      </span>
      </h2>
    </div>

    <!--    <div class="list-style">-->
    <!--      <mat-icon (click)="list = true">list</mat-icon>-->
    <!--      <mat-icon (click)="list = false">view_module</mat-icon>-->
    <!--    </div>-->

    <mat-icon (click)="_openFilterDialog()"
              class="filter-open"
              matBadge="{{getNumberOfActiveFilter(true) > 0 ? getNumberOfActiveFilter(true) : ''}}"
              matBadgeColor="info"
              matBadgeSize="small">
      filter_list
    </mat-icon>

    <mat-accordion *ngIf="this._enrollments.length > 0" [@listAnimation]>
      <ng-container *ngFor="let enrollment of _enrollments">
        <mat-expansion-panel [@.disabled]="disableAnimation"
                             class="enrollment">
          <mat-expansion-panel-header [collapsedHeight]="'auto'"
                                      [expandedHeight]="'auto'"
                                      class="enrollment-info">
            <span class="user-information">
              <ng-container *ngIf="!enrollment.creator">
                <mat-icon *ngIf="enrollment.driver"> directions_car </mat-icon>
                {{enrollment.name}}
              </ng-container>
              <ng-container *ngIf="enrollment.creator">
                <mat-icon *ngIf="enrollment.driver"> directions_car </mat-icon>
                {{enrollment.creator.name}}
                <span>@{{enrollment.creator.username}}</span>
              </ng-container>
            </span>
            <ng-container *ngIf="enrollment.comment">
              <span class="separator small colored high"></span>
              <span class="comment-block"> {{ enrollment.comment }} </span>
            </ng-container>
            <div *ngIf="appointment.additions.length > 0"
                 class="addition-list">
              <span class="separator light small high">
              </span>
              <ng-container *ngFor="let addition of appointment.additions">
                <div>
                  <mat-icon *ngIf="enrollmentCheckedAddition(enrollment, addition.id); else blank">check_box
                  </mat-icon>
                  <ng-template #blank>
                    <mat-icon>check_box_outline_blank</mat-icon>
                  </ng-template>
                  <span> {{ addition.name }} </span>
                </div>
              </ng-container>
            </div>
          </mat-expansion-panel-header>

          <div class="enrollment-additions">
            <!--          <mat-icon-->
            <!--            (click)="_openCommentDialog(enrollment)"-->
            <!--            matBadge="{{enrollment.comments != null-->
            <!--                && enrollment.comments.length > 0-->
            <!--                  ? enrollment.comments.length-->
            <!--                  : ''}}"-->
            <!--            matBadgeColor="info"-->
            <!--            matBadgeSize="small">-->
            <!--            comment-->
            <!--          </mat-icon>-->
            <ng-container>
              <mat-icon (click)="preCheckOpenConfirmationDialog(enrollment, 'edit')"
                        [active]="sendingRequestEmitEdit"
                        [hideValue]="true"
                        [innerValue]="'edit'"
                        appLoadingDisable>edit
              </mat-icon>
              <mat-icon (click)="preCheckOpenConfirmationDialog(enrollment, 'delete')"
                        [active]="sendingRequestEmitDelete"
                        [hideValue]="true"
                        [innerValue]="'delete'"
                        appLoadingDisable>delete
              </mat-icon>
            </ng-container>
          </div>
          <span class="creationDate">
          {{enrollment.iat | date : 'dd.MM.y, HH:mm'}} Uhr
        </span>
        </mat-expansion-panel>
      </ng-container>
    </mat-accordion>
  </div>
</ng-container>
