<ng-container *ngIf="enrollments_filtered$ | async as _enrollments">
  <div *ngIf="this._enrollments.length > 0 || getNumberOfActiveFilter(true) > 0;"
       [ngClass]="isMain ? '' : 'distance'"
       class="enrollment-list">
    <div class="managing-bar">
      <mat-card class="title-bar slim">
        {{subListTitle}}
        <ng-container *ngIf="!appointment.hidden">
          [{{ this.enrollments$.getValue().length }}{{ appointment.maxEnrollments !== null
        && isMain ? '/' + appointment.maxEnrollments : '' }}]
        </ng-container>
        <span *ngIf="getNumberOfActiveFilter(true) > 0">
          [<mat-icon>filter_list</mat-icon>:{{ this._enrollments.length }}]
        </span>
      </mat-card>

      <button (click)="_openFilterDialog()"
              matBadge="{{getNumberOfActiveFilter(true) > 0 ? getNumberOfActiveFilter(true) : ''}}"
              matBadgeColor="info"
              mat-raised-button
              matBadgeSize="medium">
        <mat-icon>
          filter_list
        </mat-icon>
      </button>
    </div>

    <mat-accordion *ngIf="this._enrollments.length > 0" [@listAnimation]>
      <ng-container *ngFor="let enrollment of _enrollments">
        <mat-expansion-panel [@.disabled]="disableAnimation"
                             class="enrollment-panel">
          <mat-expansion-panel-header [collapsedHeight]="'auto'"
                                      [expandedHeight]="'auto'"
                                      class="enrollment-info">
            <app-enrollment-details
              [appointment]="appointment"
              [enrollment]="enrollment">
            </app-enrollment-details>
          </mat-expansion-panel-header>

          <div class="enrollment-additions">
            <mat-icon (click)="preCheckOpenConfirmationDialog(enrollment, 'edit')"
                      [active]="sendingRequestEmitEdit"
                      [hideValue]="true"
                      [innerValue]="'edit'"
                      appLoadingDisable>edit
            </mat-icon>
            <mat-icon (click)="preCheckOpenConfirmationDialog(enrollment, 'delete')"
                      [active]="sendingRequestEmitDelete"
                      [hideValue]="true"
                      [innerValue]="'delete'"
                      appLoadingDisable>delete
            </mat-icon>
          </div>
          <span class="creationDate">
          {{enrollment.iat | date : 'dd.MM.y, HH:mm'}} Uhr
        </span>
        </mat-expansion-panel>
      </ng-container>
    </mat-accordion>
  </div>
</ng-container>
