@import "src/variables";

.managing-bar {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-gap: 10px;
  align-items: center;
  margin: 0 auto 20px;

  button {
    height: 100%;
    min-width: unset;
  }

  & > mat-card {
    margin: 0;
  }
}

.enrollment-list {
  width: 100%;
  padding: 0;
  position: relative;
  background-color: transparent;
  max-width: 500px;
  margin: 0 auto;

  mat-icon {
    margin-left: -2px;
  }


  &.distance {
    margin-top: 50px;
  }

  .header {
    .headline {
      span {
        mat-icon {
          vertical-align: middle;
        }
      }
    }
  }

  .enrollment {
    margin: 2px auto;

    &.small {
      width: 49%;
      display: inline-block;

      &:nth-child(odd) {
        float: left;
      }

      &:nth-child(even) {
        float: right;
      }
    }

    &.mat-expansion-panel-spacing {
      margin: 16px 0;
    }

    .enrollment-info {
      padding: 8px 16px;
      font-size: 0.95em;

      span {
        display: block;
        width: 95%;

        mat-icon {
          @include md-icon-size(1.1em);
          vertical-align: text-top;
        }

        &.comment-block {
          font-size: 0.9em;
          font-style: italic;
        }

        &:first-of-type {
          font-weight: 500;
        }
      }
    }

    ::ng-deep .mat-expansion-panel-body {
      padding: 0 15px 10px;

      .enrollment-additions {
        margin: 5px auto;
        display: flex;
        flex: 3;

        mat-icon {
          @include md-icon-size(18px);
          margin: 0 10% 0 0;
          text-align: center;
        }
      }

      .creationDate {
        position: relative;
        display: block;
        right: 0;
        text-align: right;
        font-style: italic;
        font-size: 0.8em;
        margin-top: -20px;
        width: fit-content;
        float: right;
      }
    }


    .addition-list {
      font-size: 0.75em;

      & > div {
        display: inline-block;
        min-width: 50%;
        width: 50%;

        span {
          width: 81% !important;
          text-align: left;
        }

        span, mat-icon {
          display: inline-block;
          width: auto;
          vertical-align: middle;
        }

        mat-icon {
          @include md-icon-size(19px);
          margin-right: 5px;
          color: #00126e;
        }
      }
    }
  }
}

.filter {
  width: calc(95% - 32px);
  margin: 0 auto 25px;

  mat-panel-title {
    mat-icon {
      margin-right: 5px;
    }
  }
}

@media all and (min-width: 1024px) {
  .enrollment-list {
    margin: 30px 0px;
    max-width: unset;
    display: inline-block;
    vertical-align: top;

    &.distance {
      margin-top: 30px;
    }
  }
}
