<div class="appointment-data-wrapper">
  <mat-card (click)="preview ? redirectToAppointment(appointment) : ''" [ngClass]="type" class="appointment-data">
    <div *ngIf="preview" [ngClass]="type"
         class="bookmark">
    </div>
    <mat-card-title class="headline">
      {{appointment.title}}
    </mat-card-title>
    <mat-card-content>
      <span class="separator colored middle high bolder center"></span>
      <span>
      <mat-icon>location_on</mat-icon>
      <span>{{appointment.location}}</span>
    </span>
      <span>
      <mat-icon>verified_user</mat-icon>
      <span>{{appointment.creator.username}}</span>
    </span>
      <span>
      <mat-icon>access_time</mat-icon>
      <span> {{appointment.date | date: 'dd.MM.y, HH:mm' }}Uhr</span>
    </span>
      <span *ngIf="appointment.date != appointment.deadline && appointment.deadline != null">
      <mat-icon>alarm_on</mat-icon>
      <span>{{appointment.deadline | date: 'dd.MM.y, HH:mm' }}Uhr</span>
    </span>
      <p>{{appointment.description}}</p>

      <div *ngIf="!preview && appointment.files.length > 0" class="files-wrapper">
        <span class="separator small light tall center brighter"> </span>
        <div *ngFor="let file of appointment.files" class="file">
          <mat-icon>
            attach_file
          </mat-icon>
          <a
            [href]="this.sanitizer.bypassSecurityTrustResourceUrl(window.URL.createObjectURL(b64toBlob(arrayBufferToBase64(file.data))))"
            download="{{file.name}}"
            mat-button>
            {{file.name}}
          </a>
        </div>
      </div>
    </mat-card-content>

    <mat-card-actions *ngIf="!preview" class="link-management">
      <mat-form-field>
        <input #inputElement matInput placeholder="" readonly value="{{urlService.getHostname() + appointment.link}}">
      </mat-form-field>
      <button (click)="copyInputMessage(inputElement)" mat-raised-button>Kopieren</button>
    </mat-card-actions>
  </mat-card>
</div>
