@mixin md-icon-size($size: 24px) {
  font-size: $size;
  height: $size;
  width: $size;
  line-height: $size;
}

.appointment-data {
  width: 80%;
  text-align: center;
  margin: 25px auto 50px;

  mat-card-title {
    margin-bottom: 10px;
    font-size: 1.75em;
  }

  & > * {
    display: block;
  }

  .files-wrapper {
    .file {
      display: inline-block;
      vertical-align: top;
      overflow: hidden;

      mat-icon {
        @include md-icon-size(19px);
      }

      a {
        line-break: anywhere;
        font-size: 0.75em;
        padding: 0;
        margin: 0 15px 0 0;
        min-width: 0;
      }
    }
  }

  span {
    margin: 3px 10px;
    display: inline-block;
    width: calc(50% - 20px);
    text-align: left;
    vertical-align: top;

    &.separator {
      width: calc(100% - 32px);
      display: block;
      margin-bottom: 15px;
    }

    mat-icon {
      @include md-icon-size(20px);
      vertical-align: top;
      left: 0;
    }
  }

  p {
    margin: 10px auto 0;
    max-width: 95%;
  }

  .link-management {
    font-size: 0.9em;

    button {
      font-size: 0.9em;
      line-height: 30px;
    }

    mat-form-field {
      margin-right: 15px;
    }
  }
}
