<div mat-dialog-title>
  Geil, mich gibt's auch als App!
</div>

<div mat-dialog-content>
  Ob du's glaubst oder nicht, mich gibt's als App. Was das bringt? Easy! Teile der Anwendung sind auch
  offline verfügbar. Und noch besser? Ich bin auf allen Plattformen gleich. Ob Android, Windows, Linux, Macintosh
  oder das nicht so bekannte iOS.
</div>

<div mat-dialog-actions>
  <button (click)="installPwa()" [mat-dialog-close]="true" color="primary" mat-raised-button>
    Installieren
  </button>

  <button (click)="onNoClick()" mat-button>Cool, aber nein Danke!</button>
</div>
