<div id="login-mail-form">
  <ng-container *ngIf="!userIsLoggedIn; else userLoggedInMessageTempl">

    <span class="form-component-title"> Login </span>

    <mat-card-content id="login-content">
      <span>
        Logge dich ein um deine Anmeldung deinem Account zuzuordnen und sie später bearbeiten/löschen zu können.
      </span>
      <button [queryParams]="{returnUrl: currentURL + '&send=true'}"
              [routerLink]="['/account/login']"
              color="primary"
              id="login"
              mat-raised-button>
        Login
      </button>
    </mat-card-content>

    <div class="separator middle center dividing">
      <div class="tooltip-wrapper center">
        <!--suppress TypeScriptUnresolvedFunction -->
        <mat-icon #tooltip="matTooltip"
                  (click)="tooltip.toggle()"
                  class="highlight-animation tooltip"
                  matTooltip="{{'Wenn du keinen Account hast, dann gebe hier deine Mail-Adresse ein, um später deine ' +
                  'Anmeldung ändern oder löschen zu können. Mit der Angabe der Mail-Adresse, kannst du die ' +
                  'Berechtigung zum Bearbeiten auf verschiedenen Geräten erhalten.' }}">
          help_outline
        </mat-icon>
      </div>
    </div>

    <mat-card-content>
      <span>
        Oder gebe deine Email-Adresse an um die Berechtigungen per Mail zu erhalten.
      </span>

      <ng-container *ngIf="false; else emailFormTempl"></ng-container>
    </mat-card-content>
  </ng-container>

  <mat-card-actions class="double">
    <div>
      <button (click)="cancel()"
              class="left"
              color="primary"
              disableRipple
              mat-button
              type="button">
        Zum Termin
      </button>
    </div>
  </mat-card-actions>
</div>

<ng-template #userLoggedInMessageTempl>
  <span class="form-component-title"> Mail </span>

  <mat-card-content id="login-content-alt">
    <span>
      Du bist zwar eingeloggt, meldest aber jemand anderen an. Bitte gebe dessen E-Mail Adresse ein, damit er später dazu
      in der Lage ist, seine Anmeldung zu ändern. In dieser Mail befinden sich die Berechtigungen zum Editieren.
    </span>
  </mat-card-content>

  <div class="separator middle center dividing"></div>

  <ng-container *ngIf="false; else emailFormTempl"></ng-container>
</ng-template>

<ng-template #emailFormTempl>
  <div [formGroup]="form_mail">
    <div class="input-with-button-wrapper">
      <mat-form-field>
        <label>
          <input formControlName="mail"
                 id="mail"
                 matInput
                 placeholder="Mail-Adresse">
        </label>
        <mat-error id="mail-error">
          {{ getMailErrorMessage() }}
        </mat-error>
      </mat-form-field>
      <button (click)="save()"
              id="submit"
              mat-raised-button>
        Absenden
      </button>
    </div>
  </div>
</ng-template>
