@import "src/variables";

.enrollment {
  text-align: left;
  margin: 2px auto;

  &.small {
    width: 49%;
    display: inline-block;

    &:nth-child(odd) {
      float: left;
    }

    &:nth-child(even) {
      float: right;
    }
  }

  .user-information {
    mat-icon {
      @include md-icon-size(19px);
      margin-right: 5px;
    }
  }


  .addition-list {
    font-size: 0.75em;

    & > div {
      display: inline-block;
      min-width: 50%;
      width: 50%;

      span {
        width: 81% !important;
        text-align: left;
      }

      span, mat-icon {
        display: inline-block;
        width: auto;
        vertical-align: middle;
      }

      mat-icon {
        @include md-icon-size(19px);
        margin-right: 5px;
        color: #00126e;
      }
    }
  }
}
