@import "src/variables";

mat-card {
  mat-card-actions {
    padding-bottom: 18px !important;
    text-align: center;
  }
}

.driver-wrapper {
  display: block;
  margin: 15px auto 35px;

  .driver-block {
    position: relative;
    text-align: center;
    display: inline-block;
    width: calc(50% - 60px);
    margin: 10px;
    border-radius: 10px;
    padding: 10px 20px;
    box-shadow: 5px 5px 9px #d9d9d9,
    -5px -5px 9px #fcfcfc;

    span {
      display: block;

      &:first-of-type {
        font-weight: bolder;
      }

      &:not(:first-of-type) {
        margin-top: 10px;
      }

      &.service {
        width: 20px;
        height: 20px;
        margin: 0;
        position: absolute;
        top: -7.5px;
        left: -7.5px;
        background-color: white;
        border-radius: 100%;
        box-shadow: 0px 0px 5px lightgray;

        mat-icon {
          @include md-icon-size(14px);
          vertical-align: middle;
        }

        &.negative {
          background-color: red;
        }
      }
    }
  }
}

.analysis-block-wrapper {
  text-align: center;

  .title {
    color: $secondary;
    font-size: 1.125em;
    font-weight: normal;
  }

  .analysis-block {
    padding: 10px;
    display: inline-block;
    width: calc(50% - 20px);
    margin-top: 15px;
    vertical-align: top;

    .title {
      color: $secondary;
      font-weight: bolder;
      font-size: 1.25em;
    }

    .case {
      font-size: 1em;
      width: 100%;
      display: block;

      .positive {
        color: green;
      }

      .negative {
        color: red;
      }
    }
  }
}
