@import "src/variables";

mat-card {
  mat-card-actions {
    padding-bottom: 18px !important;
    text-align: center;
  }
}

.driver-wrapper {
  display: block;
  margin: 15px auto 35px;

  .driver-block {
    position: relative;
    text-align: center;
    display: inline-block;
    width: calc(100% - 60px); // 2*20 padding +2* 10 margin
    max-width: 300px;
    margin: 10px;
    border-radius: 10px;
    padding: 10px 20px;
    box-shadow: 5px 5px 9px #d9d9d9,
    -5px -5px 9px #fcfcfc;
    font-size: 1.125em;

    span {
      width: 50%;
      display: inline-block;
      vertical-align: baseline;

      &.name {
        text-align: left;
      }

      &.space {
        color: gray;
        text-align: right;
        font-weight: 500;
        font-size: 1.25em;

        span {
          width: auto;
          display: inline-block;
          vertical-align: baseline;
          font-size: 0.5em;
          margin-left: 5px;
          font-style: italic;
        }
      }

      &.service {
        background-color: #f6f6f6;
        width: 20px;
        height: 20px;
        margin: 0;
        position: absolute;
        top: -10px;
        left: -10px;
        border-radius: 10px;
        box-shadow: 0 0 5px lightgray;
        padding: 2px;

        mat-icon {
          @include md-icon-size(18px);
          vertical-align: middle;
        }

        &.negative {
          background-color: #cc0000;
          color: white;
        }
      }
    }
  }
}

.analysis-block-wrapper {
  text-align: center;

  .title {
    color: $secondary;
    font-size: 1.125em;
    font-weight: normal;
  }

  .analysis-block {
    padding: 10px;
    display: inline-block;
    width: calc(100% - 20px);
    margin-top: 15px;
    vertical-align: top;

    .title {
      color: $secondary;
      font-weight: bolder;
      font-size: 1.25em;

      spna {
        font-style: italic;
      }
    }

    .case {
      font-size: 1em;
      width: 100%;
      display: block;

      .positive {
        color: green;
      }

      .negative {
        color: red;
      }
    }
  }
}
