<ng-container *ngIf="appointment$ | async as appointment; else loading">
  <mat-card class="float high">
    <mat-card-title class="headline">
      Fahrerverwaltung
    </mat-card-title>

    <mat-card-content>
      <ng-container *ngIf="data.gotTo === data.gotFrom then gotSame; else gotDifferent"></ng-container>
      <div class="separator extra-extra-tall colored middle center higher"></div>
      <div class="driver-wrapper">
        <ng-container *ngFor="let driver of drivers">
          <div class="driver-block">
            <span class="name">{{driver.name}}</span>
            <span class="space">{{driver.driver.seats}}<span>Plätze</span></span>
            <ng-container [ngSwitch]="driver.driver.service">
                <span *ngSwitchCase="3" class='service'>
                  <mat-icon>compare_arrows</mat-icon>
                </span>
              <span *ngSwitchCase="2" class='service negative'>
                  <mat-icon>arrow_back</mat-icon>
                </span>
              <span *ngSwitchCase="1" class='service negative'>
                  <mat-icon>arrow_forward</mat-icon>
                </span>
            </ng-container>
          </div>
        </ng-container>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button (click)="goBack()" mat-raised-button>
        Zurück
      </button>
    </mat-card-actions>
  </mat-card>
</ng-container>

<!-- TEMPLATES -->
<ng-template #gotSame>
  <div class="analysis-block-wrapper">
    <span class="title">Für Hin und Rückfahrt gibt es insgesamt {{data.gotTo}} Plätze</span>
    <ng-container *ngIf="data.neededTo === data.neededFrom then neededSame; else neededDifferent"></ng-container>
  </div>
</ng-template>

<ng-template #gotDifferent>
  <div class="analysis-block-wrapper">
    <div class="analysis-block">
      <span class="title">Hinfahrt: <span>{{data.gotTo}}</span> Plätze</span>
      <ng-container [ngTemplateOutletContext]="{nr1:data.gotTo, nr2: data.neededTo}"
                    [ngTemplateOutlet]="calculation">
      </ng-container>
    </div>
    <div class="analysis-block">
      <span class="title">Rückfahrt: <span>{{data.gotFrom}} Plätze</span></span>
      <ng-container [ngTemplateOutletContext]="{nr1:data.gotFrom, nr2: data.neededFrom}"
                    [ngTemplateOutlet]="calculation">
      </ng-container>
    </div>
  </div>
</ng-template>

<ng-template #neededSame>
  <div class="analysis-block">
    <ng-container [ngTemplateOutletContext]="{nr1:data.gotTo, nr2: data.neededTo}"
                  [ngTemplateOutlet]="calculation">
    </ng-container>
  </div>
</ng-template>


<ng-template #neededDifferent>
  <div class="analysis-block">
    <span class="title">Hinfahrt</span>
    <ng-container [ngTemplateOutletContext]="{nr1:data.gotTo, nr2: data.neededTo}"
                  [ngTemplateOutlet]="calculation">
    </ng-container>
  </div>
  <div class="analysis-block">
    <span class="title">Rückfahrt</span>
    <ng-container [ngTemplateOutletContext]="{nr1:data.gotFrom, nr2: data.neededFrom}"
                  [ngTemplateOutlet]="calculation">
    </ng-container>
  </div>
</ng-template>

<ng-template #calculation let-nr1='nr1' let-nr2='nr2'>
  <ng-container [ngSwitch]="compare(nr1, nr2)">
      <span *ngSwitchCase="1" class='case'>
        <span class="negative">{{nr2}} belegt</span>,
        <span class="positive"> noch {{nr1 - nr2}} frei. </span>
      </span>
    <span *ngSwitchCase="0" class='case'>
      <span class="positive"> Es geht genau auf </span>
    </span>
    <span *ngSwitchCase="-1" class='case'>
        <span class="negative">{{nr2}} belegt</span>,
        <span class="negative"> noch {{nr2 - nr1}} benötigt. </span>
    </span>
  </ng-container>
</ng-template>

<ng-template #loading>
  <app-loading *ngIf="!loaded"
               [@remove]>
  </app-loading>
  <app-fetch-appointment
    [done]="loaded">
  </app-fetch-appointment>
</ng-template>
