@import "src/variables";

.driver-wrapper {
  display: block;
  margin: 50px auto;

  .driver-block {
    display: grid;
    grid-template-columns: minmax(30px, auto) 3fr 1fr;
    align-items: center;
    margin: 0 0 auto;

    span {
      width: 100%;
      text-align: left;

      &.space {
        color: gray;
        text-align: right;
        font-weight: 500;
        font-size: 1.25em;

        span {
          width: auto;
          display: inline-block;
          vertical-align: baseline;
          font-size: 0.5em;
          margin-left: 5px;
          font-style: italic;
        }
      }

      &.service {
        background-color: #f6f6f6;
        width: 20px;
        height: 20px;
        margin: 0;
        position: absolute;
        top: -10px;
        left: -10px;
        border-radius: 10px;
        box-shadow: 0 0 5px lightgray;
        padding: 2px;

        mat-icon {
          @include md-icon-size(18px);
          vertical-align: middle;
        }

        &.negative {
          background-color: #cc0000;
          color: white;
        }
      }
    }
  }
}

.analysis-block-wrapper {
  width: 100%;
  text-align: left;
  display: grid;
  grid-template-columns: 1fr 1fr;
  overflow: hidden;

  &.same {
    grid-template-columns: 1fr;

    .seats {
      &:before {
        transform: translateX(-15%) scale(var(--sacle)) !important;
      }

      &:after {
        background-image: url("/assets/icons/double_arrow.svg");
        background-repeat: no-repeat;
        background-size: auto 100%;
        background-position: center;
        content: "";
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        opacity: 0.125;
        -webkit-transform: scale(var(--sacle)) rotate(180deg) translateX(-15%);
        -moz-transform: scale(var(--sacle)) rotate(180deg) translateX(-15%);
        -ms-transform: scale(var(--sacle)) rotate(180deg) translateX(-15%);
        -o-transform: scale(var(--sacle)) rotate(180deg) translateX(-15%);
        transform: scale(var(--sacle)) rotate(180deg) translateX(-15%);
      }
    }
  }

  .analysis-block {
    text-align: left;
    position: relative;

    .direction {
      color: $secondary;
      font-weight: bolder;
      font-size: 2em;
      display: block;
      width: fit-content;
    }

    .seats {
      display: grid;
      grid-template-rows: 1fr;
      align-items: center;
      padding: 40px 0;
      position: relative;

      --sacle: 1.25;

      &:before {
        background-image: url("/assets/icons/double_arrow.svg");
        background-repeat: no-repeat;
        background-size: auto 100%;
        background-position: center;
        content: "";
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        opacity: 0.125;
        transform: scale(var(--sacle));
      }

      &.back {
        &:before {
          -webkit-transform: scale(var(--sacle)) rotate(180deg);
          -moz-transform: scale(var(--sacle)) rotate(180deg);
          -ms-transform: scale(var(--sacle)) rotate(180deg);
          -o-transform: scale(var(--sacle)) rotate(180deg);
          transform: scale(var(--sacle)) rotate(180deg);
        }
      }

      &.both {
        &:before {

        }
      }

      .total-seats {
        display: block;
        margin: 0 auto;
        font-size: 2em;
        text-align: center;
        font-style: italic;
        font-weight: bold;

        & > span {
          font-size: 0.5em;
        }
      }
    }


    .case-wrapper {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 10px;
      margin-top: 15px;

      .case-block {
        text-align: center;

        .direction {
          margin: 0 auto;
          font-size: 1.25em;
        }
      }
    }

    .case {
      font-size: 1.125em;
      width: 100%;
      display: block;
      margin: 0 auto;
      text-align: center;

      span {
        vertical-align: middle;
      }

      .positive {
        color: green;
      }

      .negative {
        color: red;
      }
    }
  }
}

mat-card-actions {
  margin: 0 auto;
  text-align: left;

  button {
    padding: 0;
    text-align: left;
  }
}
