<mat-card-content>
  <span class="form-component-title">Anhänge</span>

  <button (click)="selectFilesFromComputer()"
          class="file-upload"
          mat-raised-button>
    <mat-icon>file_upload</mat-icon>
    Hochladen
  </button>
  <input id="fileUpload"
         name="fileUpload"
         style="display:none;"
         type="file"/>

  <div class="info last">
    Lade eine Datei hoch die dann zum Download für Teilnehmer bereitsteht.
  </div>

  <ng-container *ngIf="uploading.length > 0">
    <span class="form-component-title">Neuste Dateien</span>

    <div *ngFor="let file of uploading" class="file-upload-progress">
      <span class="span-icon">
        <span> {{file.name}}</span>
        <mat-icon
          *ngIf="file.progress === 100">
          done_outline
        </mat-icon>
        <mat-icon
          *ngIf="file.progress === undefined">
          error_outline
        </mat-icon>
        <!--        <mat-progress-spinner-->
        <!--          *ngIf="file.progress < 100"-->
        <!--          [diameter]="25"-->
        <!--          [mode]="'determinate'"-->
        <!--          [value]="file.progress"-->
        <!--          class="example-margin"-->
        <!--          strokeWidth="4">-->
        <!--      </mat-progress-spinner>-->
      </span>
    </div>
  </ng-container>

  <ng-container *ngIf="files.length > 0">
    <span class="form-component-title">Aktuelle Dateien</span>
    <div class="file-wrapper">
      <app-file-delete
        (deleted)="removeFile($event)"
        *ngFor="let file of files"
        [appointment]="appointment"
        [file]="file">
      </app-file-delete>
    </div>
  </ng-container>

</mat-card-content>
