<ng-container *ngIf="_done; else loadingBar">
  <mat-card class="float error-card">
    <img alt="anmeldesystem appointment not found robot icon" src="/assets/img/404.svg">
    <span> Ich konnte diesen Termin nicht finden!</span>
    <button [routerLink]="['/dashboard']"
            color="primary"
            mat-raised-button>
      Zum Dashboard
    </button>
  </mat-card>
</ng-container>

<ng-template #loadingBar>
  <mat-progress-bar
    [value]="percentDone"
    class="progress-bar"
    mode="determinate">
  </mat-progress-bar>
</ng-template>
