<mat-card [ngClass]="{'error-card': error}" class="float high">
  <mat-card-title class="headline">
    Email Ändern
  </mat-card-title>
  <mat-card-content>
    <app-hexagon-loader *ngIf="error === null; else err"
                        [message]="'Prüfe....'">
    </app-hexagon-loader>
  </mat-card-content>
</mat-card>

<ng-template #err>
  <img alt="anmeldesystem appointment not found robot icon" src="/assets/img/404.svg">
  <span>{{error}}</span>
  <button [routerLink]="['/dashboard']"
          color="primary"
          mat-raised-button>
    Zum Dashboard
  </button>
</ng-template>
