span {
  display: inline-block;
  width: 100%;
  margin: 2px auto;

  span {
    vertical-align: sub;
    display: inline-block;
    width: calc(100% - 24px);
    position: absolute;
    z-index: -1;
  }

  mat-icon {
    display: block;
    padding-left: 30px;
    background-image: linear-gradient(to right, transparent 0px, white 30px, white 100%);
    float: right;
    vertical-align: middle;
  }
}

