.key-dialog {
  text-align: center;

  .mat-dialog-content {
    display: block;
    margin: 10px auto;
    padding: 0 10px;

    & > span {
      display: block;
    }

    & > button {
      line-height: 30px;
      margin: 7.5px auto;
      font-size: 0.85em;
    }
  }

  .mat-dialog-title {

  }

  .token-select {
    position: relative;
    display: inline-block;

    .mat-form-field {
      width: 45%;
      vertical-align: center;
      margin: 0 auto;

      &:first-of-type {
        float: left;
      }

      &:last-child {
        float: right;
      }

      &.solo {
        text-align: center;
        width: 75%;
        float: none;
      }

      mat-card-actions {
        display: block;
      }
    }
  }

  .mat-dialog-actions {
    & > button {
      margin: 0 auto;
    }
  }
}
