<div class="key-dialog">
  <h2 mat-dialog-title>
    Berechtigungen (fehlen)
  </h2>
  <div *ngIf="!userIsLoggedIn"
       mat-dialog-content>
    <span>
      Logge dich ein um, um ggf mehr Berechtigungen zu haben.
    </span>
    <button
      (click)="this.matDialogRef.close(false)"
      [queryParams]="{returnUrl: this.currentUrlSnapshotWithParameter.url +
        '&editId=' + enrollment.id +
        '&editOperation=' + (this.operation === 'delete' ? 'delete' : 'edit')}"
      [routerLink]="['/account/login']"
      color="primary"
      mat-raised-button>
      Login
    </button>
  </div>

  <div *ngIf="userIsLoggedIn" mat-dialog-content>
    <span>
      Sorry <b>{{ this.authenticationService.currentUserValue.name }}</b>. Du keine Berechtigung für diese Anmeldung.
    </span>
  </div>

  <div class="separator colored tall center bold middle"></div>

  <div mat-dialog-content>
    <span>
    Wenn du die Anmeldung erstellt hast und deine Email angegeben hast, dann folge erneut dem Link in dieser Mail.
    Die Berechtigungen für deine Anmeldung werden auf dem Gerät abgespeichert mit welchem du auf den Link drückts.
      </span>
    <span>// TODO RESEND MAIL</span>
  </div>

  <div mat-dialog-actions>
    <button (click)="onNoClick()" mat-button>Abbrechen</button>
  </div>
</div>
